
<div id="welcome-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/dietitian_nav" %>

      <main class="col-xs-12 col-sm-10 col-sm-offset-2">
        <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <section>
          <h1>Surveys</h1>
        </section>
        <hr>
        <section class="row">
          <p>Edit Survey Question</p>
          
					<%= render "form", question: @question %>       
        </section>
      </main>
      <div class="col-xs-12 col-sm-10 col-sm-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>












