
<div class="modal fade" id="sessionIntroModal" tabindex="-1" role="dialog" aria-labelledby="sessionIntroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
<!--         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
        <div id="allow-camera-row" class="row">
          <div class="col-xs-3">
            <h4 class="text-left"><span class="glyphicon glyphicon-share-alt allow-camera-message left-arrow"></span></h4>
          </div> 
          <div class="allow-camera-container col-xs-6 ">
            <h1>Ready to start?</h1>
            <h3 class="allow-camera-message">Please click ALLOW to <br>activate your device's camera.</h3>
            <p>A pop-up box should appear at the top of your screen.</p>
            <div class="col-xs-12 text-center">
              <p>Having trouble connecting?
                <button class="btn btn-link btn-xs"><span class="glyphicon glyphicon-earphone"></span>Call <a href="tel:6175752203">617-575-2203</a></button>
              </p>
            </div>
          </div>
          <div class="col-xs-3">
            <h4 class="text-right"><span class="glyphicon glyphicon-share-alt allow-camera-message right-arrow"></span></h4>
          </div>  
        </div>
        <div id="allow-camera-denied-row" class="row hidden">
          <div class="col-xs-12">
            <h4 class="text-center"><span class="glyphicon glyphicon-arrow-up allow-camera-message"></span></h4>
          </div>
          <div class="allow-camera-container col-xs-6 col-xs-offset-3">
            <h1>Ready to start?</h1>
            <h3>
              The camera has been disabled, please follow these steps to turn it back on.
            </h3>
            <ol class="text-left">
              <li>Click the camera icon in the URL bar above.</li>
              <li>Change the settings to allow the camera.</li>
              <li>Refresh screen</li>
              <li>Hit ALLOW to activate your camera and begin your session!</li>
            </ol>
            <div class="col-xs-12 text-center">
              <p>Having trouble connecting?
                <button class="btn btn-link btn-xs"><span class="glyphicon glyphicon-earphone"></span>Call <%=@appointment.appointment_host.phone_number%></button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>