
<div class="modal fade" id="sessionIntroModal" tabindex="-1" role="dialog" aria-labelledby="sessionIntroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
<!--         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
        <div id="allow-camera-row" class="row">
          <div class="allow-camera-container col-xs-6 col-xs-offset-3">
            <h1>Your session is about to begin!</h1>
            <h3 class="allow-camera-message">Please follow the green arrow and select ALLOW to activate your computer's camera and begin your session.</h3>
          </div>
          <div class="col-xs-3">
            <h4 class="text-right"><span class="glyphicon glyphicon-share-alt allow-camera-message"></span></h4>
          </div>  
        </div>
        <div id="allow-camera-denied-row" class="row hidden">
          <div class="col-xs-12">
            <h4 class="text-center"><span class="glyphicon glyphicon-arrow-up allow-camera-message"></span></h4>
          </div>
          <div class="allow-camera-container col-xs-6 col-xs-offset-3">
            <h1>Your session is about to begin!</h1>
            <h3>
              The camera has been disabled, please follow these steps to turn it back on.
            </h3>
            <ol class="text-left">
              <li>Follow the green arrow to the URL bar.</li>
              <li>Click the camera icon in the URL.</li>
              <li>Change settings to allow the camera.</li>
              <li>Refresh screen, turn on your camera, and begin your session!</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>