<div id="session-page" class="container-fluid">
  <div class="row-fluid">

    <%= render "rooms/users/user_session_nav", survey: survey, appointment: appointment, pre_appt_survey: pre_appt_survey%>
    <main class="col-xs-10 col-xs-offset-2">
      <p>You are meeting with:</p>
      <h1><%=appointment.dietitian.signature%></h1>
      <section class="row form-group">
        <div class="col-xs-10 dynamic-page-container hidden">
          <%#= render "/appointments/appointment_prep/survey_form", survey: @survey, surveyable: @surveyable %>
        </div>
        <div id="layoutContainer" class="col-xs-12">
          <div class="video-center" id="videobox2">
            <div id="videobox">
            </div>
          </div>
        </div>
      </section>
<!--       <div id="right-session-column" class="col-xs-3">
        <div id="chat-container" class="row">
          <div id="chat-box" class="col-xs-12 form-group">
            <h4>Start a conversation!</h4>
          </div>
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <input class="family-member-name form-control" id="user-message" placeholder="   Write Message Here">
              </div>
            </div>
            <button id="send-message-button" type="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div> -->
      <section class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <p>Having trouble? <a href="tel:6175752203;ext=1">Call 617-575-2203</a></p>
        </div>
      </section>
    </main>
</div>
