<div id="welcome-page" class="container-fluid">
		<div class="row">

			<%= render "/layouts/navbars/dietitian_admin_nav" %>

			<main class="col-xs-10 col-xs-offset-2">
				<section class="jumbotron">
					<div id="jumbotron-inner" class="row">
						<h3>Dietitians Online</h3>
					 	<%@online_dietitians.each do |dietitian| %>
					 		<h4 class="white-font"><%=dietitian.email%></h4>
					 	<% end %>
				
					</div>
				</section>
			</main>
			<div class="col-xs-10 col-xs-offset-2">
				<%=render "/layouts/footers/main_footer" %>
			</div>
		</div>
	</div>
