
.monologue-application {

	label {
		font-size: 18px;
	  line-height: 20px;
	}

	// POST SHOW PAGE
	.landing-page.education-page .landing-page-body {
		.splash-image-section {

			// background-image: url("../../images/people/woman-tablet.jpg");
			background-position: 0px 65%;
			min-height: 200px;
	    margin-bottom: 3%;

			.left-splash-column{
				width: 100%;
				h1{
					margin: 0;
				}
			}
		}

		hr {
			border-top: 1px solid lighten(rgb(0, 0, 0), 46.7%);
			// $gray-light: lighten($gray-base, 46.7%);
		}

		footer {
			clear: both;
		}
		.articles-container{
		  // @include make-xs-column( 9 );
		  width:75%;
		  float: left;
		  padding: 0 5% 5% 5%;
      border-bottom: 1px solid grey;

		  .content {


		  	img:not(.recipe-image) {
		  	// coulse us .monologue-post-image-center
			  	height: auto !important;
	    		width: 100% !important;
	    		margin: 20px auto
			  }
			  img:not(.recipe-image).blog-medium-image{
			  	height: auto !important;
	    		width: 50% !important;
	    		margin: 20px;
			  }
			  img:not(.recipe-image).blog-small-image{
				  height: auto !important;
			    width: 250px !important;
			    padding: 20px;
				}

			  .heading {
			  	// $brand-carrot-green: #009344;
			  	color: #009344;
			  }
			  .monologue-post-note{
			  	font-size: 15px;
			  }
			  .monologue-post-storage{
			  	font-size: 15px;
			  	font-style: italic;
			  }
			  .monologue-post-ingredients{
			  	padding-right: 30px;
			  	ul {
			  		list-style: inherit;
				    margin-left: 0;
				    padding-left: 25px;
				  }
				}
				.monologue-post-steps, .monologue-post-ingredients, .monologue-post-intro-paragraph{
					font-size: 14px;
				}
				.monologue-post-subcategory{
			    text-decoration: underline;
			    font-weight: bold;
				}
		  }
		  .tags .tag {
		  	float: left;
  	    // zoom: 1;
		  }
		}

		.articles-side-bar{
		  // @include make-xs-column( 3 );
	    width: 21%;
	    float: left;
	    margin-left: 75%;

			&.affix {
			    position: fixed;
			    top: 100px;
			}
			&.affix-top {
		    position: absolute;
			}
		  .articles-nav {
		  	text-align: center;
	   	  // border: 10px solid $gray-divider;
	   	  // border: 10px solid rgba(217, 218, 219, 1.0);
	   	  // border-radius: 5px;
	    	// padding: 10%;
	    	padding: 0;
	    	ul {
	    		list-style: none;
			    margin-left: 0px;
			    padding: 0px;
	    	}
	    	h3 {
	    		// color: $brand-light-green;
	    		color: #399E48;
	    		margin-top:0;
	    	}
	    	p {
	    		font-style: italic;
	    	}
		  }
		  // .call-to-action-container{
		  // 	a{
		  // 		height: 100px;
		}

		.post-header {
			h1 {
				margin-top:0px;
				a {
					// color: $brand-light-green;
					color: #399E48;
				}
			}
			span{
				// $brand-light-orange: #F68D3C;
				color: #F68D3C;
			}
		}
		.read-more-header-container{
			h2{
				text-decoration: underline;
			}
		}
		.content-suggestions-container{
	    width: 75%;
	    text-align: center;
      display: table;
			[class*="col-"].thumbnail-container {
		    float: none;
		    display: table-cell;
		    vertical-align: middle;
			}
			.thumbnail {
				border:none;
				img{
					max-height: 250px;
				}
			}
	  }
	}

	// TAGS SHOW PAGE
	.landing-page.education-page.index-of-posts .landing-page-body {
		.well p {
			margin: 0;
		}
		.tag {
			font-size: 15px;
			margin: 5px;
			padding: 5px;
		}
		.articles-container {
		  width:75%;
		  float: left;
		  padding: 5%;
			border-bottom: 1px solid lighten(rgb(0, 0, 0), 46.7%);
			.content {
				img:not(.recipe-image) {
	  	  	// coulse us .monologue-post-image-center
		  		height: auto !important;
	  			width: 50% !important;
	  			margin: 20px auto
				}
			}
			.content, .post-header {
				hr {
					display: none;
				}
			}
		}
	}
}