
.monologue-application {

.test-class{
	color: red;
	background-color: red;
}
	label {
		font-size: 18px;
	  line-height: 20px;
	}

	.landing-page.education-page .landing-page-body {
		.splash-image-section {

			// background-image: url("../../images/people/woman-tablet.jpg");
			background-position: 0px 65%;
			min-height: 200px;
	    margin-bottom: 3%;

			.left-splash-column{
				width: 100%;


				h1{
					margin: 0;
				}
			}
		}

		hr {
			border-top: 1px solid lighten(rgb(0, 0, 0), 46.7%);
			// $gray-light: lighten($gray-base, 46.7%);
		}

		footer {
			clear: both;
		}
		.articles-container{
		  // @include make-xs-column( 9 );
		  width:75%;
		  float: left;
		  padding: 0 5% 5% 5%;
		  @extend .text-left;

		  .content {


		  	img {
		  	// coulse us .monologue-post-image-center
			  	height: auto !important;
	    		width: 100% !important;
	    		margin: 20px auto
			  }

			  .heading {
			  	// $brand-carrot-green: #009344;
			  	color: #009344;
			  }
			  .monologue-post-note{
			  	font-size: 15px;
			  }
			  .monologue-post-storage{
			  	font-size: 15px;
			  	font-style: italic;
			  }
			  .monologue-post-ingredients{
			  	padding-right: 30px;
			  	ul {
			  		list-style: inherit;
				    margin-left: 0;
				    padding-left: 25px;
				  }
				}
				.monologue-post-steps, .monologue-post-ingredients, .monologue-post-intro-paragraph{
					font-size: 18px;
				}
				.monologue-post-subcategory{
			    text-decoration: underline;
			    font-weight: bold;
				}
		  }
		}

		.articles-side-bar{
		  // @include make-xs-column( 3 );
	    width: 21%;
	    float: left;
	    margin-left: 75%;
		  @extend .text-left;
			&.affix {
		    position: fixed;
		    top: 100px;
			}
			&.affix-top {
		    position: absolute;
			}
		  .articles-nav {
	   	  // border: 10px solid $gray-divider;
	   	  // border: 10px solid rgba(217, 218, 219, 1.0);
	   	  // border-radius: 5px;
	    	// padding: 10%;
	    	padding: 0;
	    	ul {
	    		list-style: none;
	    		padding: 0 20px;
	    	}
	    	h3 {
	    		// color: $brand-light-green;
	    		color: #399E48;
	    		margin-top:0;
	    	}
	    	p {
	    		font-style: italic;
	    	}
		  }
		  .call-to-action-container{
		  	button{
		  		height: 100px;
    			font-size: 20px;
		  	}
		  }
		}

		.post-header {
			h1 {
				margin-top:0px;
				a {
					// color: $brand-light-green;
					color: #399E48;
				}
			}
			span{
				// $brand-light-orange: #F68D3C;
				color: #F68D3C;
			}
		}

	}
}