		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<h2>Ready for better food?</h2>
				<button class="btn btn-lg btn-primary">SCHEDULE TODAY</button>
			</div>
		</section>