		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<button class="sign-up-button btn btn-lg btn-primary form-group">SCHEDULE TODAY</button>
				<h3>Is this really for me?  Learn more about <%=link_to "who we help", landing_pages_our_solution_path, class: "btn-link"%>.</h3>
			</div>
		</section>