		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<button class="btn btn-lg btn-primary form-group">SCHEDULE TODAY</button>
				<p>Learn more about the approach to <%=link_to "high quality for you", landing_pages_why_kindrdfood_path, class: "btn btn-link"%>.</p>
			</div>
		</section>