		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<button class="btn btn-lg btn-primary form-group">SCHEDULE TODAY</button>
				<p>What makes us different? Learn <%=link_to "why Kindrdfood", landing_pages_why_kindrdfood_path, class: "btn btn-link"%>.</p>
			</div>
		</section>