		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<button class="sign-up-button btn btn-lg btn-primary form-group">SCHEDULE TODAY</button>
				<h5>What makes us different? Learn <%=link_to "why Kindrdfood", landing_pages_why_kindrdfood_path, class: "btn-link"%>.</h5>
			</div>
		</section>