		<section class="landing-page-row call-to-action-bar">
			<div class="col-xs-12 text-center">
				<button class="btn btn-lg btn-primary form-group">SCHEDULE TODAY</button>
				<p>Benefits may differ depend on the client’s needs. Learn more about <%=link_to "who we help", landing_pages_our_solution_path, class: "btn btn-link"%>.</p>
			</div>
		</section>