<nav class="left-nav">
	<ul>
		<%= active_link_to landing_pages_why_kindrdfood_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
      Your team of experts
    <% end %>
		<%= active_link_to landing_pages_quality_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
      Quality you can trust
    <% end %>
		<%= active_link_to landing_pages_navigate_change_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
      Your best option to navigate change
    <% end %>
		<%= active_link_to landing_pages_our_mission_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
      Our mission & vision
    <% end %>
 <!--    <%#= active_link_to landing_pages_who_we_help_path, { :active => :exclusive, :class_active => 'active', :wrap_tag => :li} do %>
      Leadership
    <%# end %> -->
	</ul>
</nav>