
<em>(Effective as of June 30, 2015)</em>
<p>Welcome to the kindrdfood.com website privacy policy.  This Privacy Policy governs the manner in which Kindrdfood collects, uses, maintains and discloses information collected from users of the www.kindrdfood.com website (the "Website"). This privacy policy applies to the Site and all products and services offered by Kindrdfood.</p>

<strong>Personally identifiable information</strong>

<p>We may collect personally identifiable information (e.g., such as name, telephone numbers, e-mail addresses, mailing addresses and credit card information) from you only if you voluntarily submit such information to us.</p> 

<p>This may occur in a variety of ways, including, but not limited to you when you (i) submit inquiries or requests to us, (ii) become a registered user of the Website, (iii) place an order with us, (iv) fill out a form, (vi) respond to a survey, (vii) sign up to receive newsletters or bulletins from us, or (viii) choose to provide information to us for some other reason. </p>

<p>You can always visit the Website anonymously and/or refuse to supply personally identifiable information, except that it may prevent them from engaging in certain Website related activities.</p>

<strong>Non-personally identifiable information</strong>
<p>We may collect non-personally identifiable information about you whenever you interact with the Website. This information may include the browser name, the type of computer and technical information about your means of connection to our Website, such as the operating system and the Internet service providers utilized and other similar information. </p>

<strong>Web browser cookies </strong>

<p>The Website may use "cookies" to enhance user experience. Web browsers place cookies on users’ hard drives for record-keeping purposes and sometimes to track information about users. Cookies can be managed within your browser.  The steps for managing these vary between browsers and devices. Information should be available within the “Help” function of your browser. Additional resources are also available at <a href="http://www.AboutCookies.org">AboutCookies.org</a></p>

<strong>How we use collected information</strong>
<p>Kindrdfood collects and uses personally identifiable information for the following purposes:</p>
<ul>
<li>To improve customer service --Your information helps us to more effectively respond to your customer service requests and support needs.</li>

<li>To personalize user experience--We may use information in the aggregate to understand how our users as a group use the services and resources provided on the Website.</li>

<li>To improve the Website--We continually strive to improve our website offerings based on the information and feedback we receive from you.</li>
<li>To process transactions--We may use the information you provide about yourself when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.</li>

<li>To administer a content, promotion, survey or other Website feature--To send you information you agreed to receive about topics we think will be of interest to you.</li>

<li>To send periodic emails--The email address you provide for order processing, will only be used to send information and updates pertaining to your order. It may also be used to respond to your inquiries, and/or other requests or questions. If you decide to opt-in to our mailing list, you will receive emails that may include company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or you may contact us via the Website.</li>
</ul>

<strong>Links to Third Parties</strong>
<p>For your convenience there may be links to websites operated by companies that are not affiliated with the Website and that do not have contracts to provide content or services through the Website.  These links may be found in advertisements, referenced within content, or placed beside the names or logos of sponsors.  We do not disclose your personal information to these websites without obtaining your consent.  We do not endorse and is not responsible for the privacy practices of thbese websites.  If you choose to link to one of these third party websites, you should review the privacy policy posted on the other website to understand how that website collects and uses your personal information. </p>
<strong>Business Transfers</strong>
<p>We will likely transfer information about you if we are acquired by or merged with another company or in the case of the sale of all or substantially all of our assets. If this happens, we will put notice on the Website about the change and any privacy policy that may apply.</p>
<strong>Exceptional Disclosures</strong>
<p>We may disclose your personally identifiable information in the case where required by law or legal process.</p>
<strong>How we protect your information </strong>
<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on the Website. Sensitive and private data exchange between the Website and its users happens over a SSL secured communication channel and is encrypted and protected with digital signatures. </p>
<p>However, please be aware of the fact that there is a level of risk involved in any transmissions of data via the Internet. No transmission of data over the Internet can ever be guaranteed to be completely secure.</p>
<strong>Changes to this privacy policy</strong>
<p>Kindrdfood has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
<strong>Your acceptance of these terms</strong>
<p>By using the Website, you signify your acceptance of this privacy policy.  If you do not agree to this policy, please do not use the Website. Your continued use of the Website following the posting of changes to this policy will be deemed your acceptance of those changes. </p>
<strong>Contacting us </strong>
<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>

<p>Kindrdfood</p>
<a href="/">www.kindrdfood.com</a>





