

<!-- LANDING PAGE INDEX TEMPLATE -->
<div id="kf-landing-page-contact-us" class="kf-landing-page landing-page-sub-navbar">

	<!-- LANDING PAGE NAVIGATION -->
	<%= render "/landing_pages/landing_pages_rd_2/navbar" %>

	<!-- LANDING PAGE BODY -->
	<main class="kf-landing-page-sections">
		<%= render "/landing_pages/landing_pages_rd_2/sub_navbar" %>
		<h1>FAQ</h1>
		<div>
			<div class="panel-group text-left" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          How can I pay for Kindrdfood sessions?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <p>Kindrdfood accepts all major credit cards. Payments are accepted directly on the Kindrdfood website when scheduling a session. FSA cards, if accepted as credit cards, are likely to be accepted by our payment system, but we do not specifically build our system for flexible spending account payments.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Do you take health spending account or flexible spending accounts (HSA/FSA)? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p>Kindrdfood does not facilitate FSA or HSA payment formally, however, we do offer receipts directly from out payment system to be used as you may need to for an FSA/HSA, or if you have an FSA or HSA card that is accepted as credit card, then our payment system should accept it. </p>

							<p>Kindrdfood accepts all major credit cards. Payments are accepted directly on the Kindrdfood website when scheduling a session. </p>

			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          How do you match clients with dietitians? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p>Clients (patients and their families) are matched with a Kindrdfood Dietitian based on a number of factors, but the most important of them is:</p>
							<p>Patient condition, limitation, and needs = Dietitian expertise</p>
							<p>That is the most important factor from our perspective. The saddest stories that we have heard from people who did not have Kindrdfood available to them a few years ago, had bad experiences because they were talking to someone who was an expert in something totally different than what the patient needed. </p>
							<p>Other factors used in matching clients include the scheduled time, geography, culture.
							</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          Do you take health insurance? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			       	<p>Currently, Kindrdfood does not accept health insurance or government coverage for nutrition guidance services. This is a primary goal ahead for Kindrdfood. We would really like to offer Kindrdfood support covered by insurance. </p>
							<p>Unfortunately, generally speaking, nutrition support is not a particularly well-covered area by the insurance providers. As well, telehealth coverage is only beginning to show up at all in certain places. These are among the hurdles that make it difficult to offer immediately. </p>
							<p>Kindrdfood and the healthcare community on the whole are headed this direction, so in the meantime, we built a system that we can offer for an approachable cost for most people out of pocket. </p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          Why are the prices what they are? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			       	<p>The primary goal is always to offer clients access to exceptional, specialized support and deliver on that promise – remote access, convenient availability, the right expert guide, high quality service and personalized content (recipes included) that leaves you wanting more of the same. This is a high value service and it’s meant to be.</p>
							<p>The two main goals of the prices of sessions were to: </p>
							<ul>
								<li>Be able to pay our dietitians well for their time (we believe that in our society in general the way we support our RDs, needs to improve)</li>
								<li>Offer a low price compared to alternatives. (we aim to get this covered by insurance over time regardless) </li>
							</ul>
							<p>To compare to an alternative, we looked at the costs of a hospital visit for a nutrition consultation as a comparison and thought about the costs of:</p>
							<ul>
								<li>Travel to and from the hospital</li>
								<li>Parking at the hospital</li>
								<li>Co-pay (if insurance covered the consultation)</li>
								<li>Food during the trip</li>							
							</ul>
							<p>Depending on how far from the hospital you are, these costs alone can be $50-$100 alone…and possibly:</p>
							<ul>
								<li>Time off work (usually only daytime, weekday appointments)</li>
								<li>Child care </li>	
							</ul>
							<p>We gathered some data from people that indicated patients were paying hundreds of dollars most often for the inconvenience, and those who didn’t get insurance coverage (most people), the consultations themselves could run them $300 - $500. </p>
							<p>This makes no sense to us, so we made our system much more convenient and much lower cost.</p>	      
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          Does Kindrdfood support languages other than English? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			        <p>Kindrdfood does not formally have dietitians who speak languages other than English with complete fluency. We do have clients who are not native English speakers and we do our best to make sure that communication is clear and effective, just like a hospital would, for example. </p>
							<p>This also pertains to cultural factors. We do our best to understand a client’s local food sources, in geographies that are significantly different than the most appropriate dietitian with whom they are matched. </p>
							<p>This is another area of intended growth for Kindrdfood. Thank you for your patience if this is a key area of need for you or your patients. </p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSeven">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			          How do you form your team of Kindrdfood Dietitians? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
			      <div class="panel-body">
					    <p>Kindrdfood is very careful about who we bring onto our team. First and foremost, every dietitian is:</p>
							<ul>
								<li>A current, Registered Dietitian</li>
								<li>A specialist in an area of nutrition</li>
								<li>A spectacular communicator & service provider</li>
								<li>A patient listener</li>
								<li>A person who loves food, family and helping people	</li>
							</ul>
							<p>Beyond that, we look for people who are really behind our core objectives and mission as a company. We have a wonderful internal culture and aim to keep this as we grow further.</p> 
							<p>Everyone brought on board is carefully evaluated for their level of expertise and we do additional training to assure consistency of core competencies and perspectives. This effort often simply reinforces that our initial criteria were effective at drawing in the best of the best.</p> 
							<p>Finally, we cultivate this team over time, meeting as a group to anonymously discuss challenging cases and current topics in food, nutrition and research. These are our “rounds.”</p> 
			      </div>
			    </div>
			  </div>
			</div>			
		</div>
	</main>

	<!-- LANDING PAGE FOOTER -->
	<%= render "/landing_pages/landing_pages_rd_2/footer" %>

	<!-- LANDING PAGE SIGN UP MODAL -->
	<%#= render "/landing_pages/sign_up_modal", user: @user %>
</div>