

<!-- LANDING PAGE INDEX TEMPLATE -->
<div id="kf-landing-page-contact-us" class="kf-landing-page landing-page-sub-navbar">

	<!-- LANDING PAGE NAVIGATION -->
	<%= render "/landing_pages/landing_pages_rd_2/navbar" %>

	<!-- LANDING PAGE BODY -->
	<main class="kf-landing-page-sections">
		<%= render "/landing_pages/landing_pages_rd_2/sub_navbar" %>
		<h1>FAQ</h1>
		<div>
			<div class="panel-group text-left" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          How can I pay for Kindrdfood sessions?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <p>Kindrdfood accepts all major credit cards. Payments are accepted directly on the Kindrdfood website when scheduling a session. FSA cards, if accepted as credit cards, are likely to be accepted by our payment system, but we do not specifically build our system for flexible spending account payments.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Do you take health spending account or flexible spending accounts (HSA/FSA)? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p>Kindrdfood does not formally accept FSA or HSA payments, but we do offer receipts directly from our payment system that can be  used as needed for your FSA/HSA. In addition, if you have an FSA or HSA card that is typically accepted as credit card, then our payment system should accept it.</p>
							<p>Kindrdfood accepts all major credit cards. Payments are accepted directly on the Kindrdfood website when scheduling a session.</p>


			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          How do you match clients with dietitians? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
					    <p>Clients (patients and their families) are matched with a Kindrdfood Dietitian based on a number of factors, but the most important of them is:</p>
							<p>Patient condition, limitations, and needs = Dietitian expertise</p>
							<p>In other words, matching each client with the right expert dietitian is the most important factor, from our perspective. The saddest stories that we have heard are from people who, before Kindrdfood became available to them, had negative experiences with dietitians because they were talking to someone whose specialty was in something totally different from what they needed. Our careful matching of patients and dietitians ensures a positive experience that helps you meet the specific challenges you face.</p>
							<p>Other factors considered when matching clients to dietitians include the time requested for the session, geography, and culture.</p>

			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          Do you take health insurance? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			       	<p>Currently, Kindrdfood does not accept health insurance or government coverage for nutrition guidance services. This is, however, a primary goal of ours and we are working toward being able to accept it in the future. We face a couple of hurdles in pursuit of this goal. One is that, in general, nutrition support is not a well-covered area by insurance providers. Another is that telehealth coverage is just starting to become available. The combination of nutrition services and telehealth is uncharted territory for insurance companies, but the trend is headed in this direction.</p>
							<p>In the meantime, we have built a system that offers a valuable service at an out of pocket price that seems acceptable to most people.</p>

			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          Why are the prices what they are? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			       	<p>Our primary goal is always to offer clients access to exceptional, specialized support and deliver on our promise of remote access, convenient availability, the right expert guide, high quality service and personalized content (recipes included). We want our clients to be so satisfied with their first session that they find themselves wanting more of the same. We intend to offer nothing less than a high value service to our clients and their families.</p>
							<p>In pricing our sessions, our two main goals were to:</p>
							<ul>
								<li>Be able to pay our dietitians well for their time. (We believe that, in general, compensation of RDs in our society needs to improve.)</li>
								<li>Offer a low price nutrition consultation session compared to alternatives. (Note that we aim to get these sessions covered by insurance in the future.)</li>
							</ul>
							<p>In order to compare our live online video (or phone) sessions to the traditional alternative, we looked at the costs associated with an outpatient hospital visit for a nutrition consultation. The typical costs of this kind of experience include:</p>
							<ul>
								<li>Travel to and from the hospital</li>
								<li>Parking at the hospital</li>
								<li>Co-pay (if insurance covered the consultation)</li>
								<li>Full-cost of consultation (if insurance coverage is not available)</li>
								<li>Food during the trip</li>
							</ul>
							<p>Depending on how far from the hospital you live, these costs alone can quickly add up to $50-$100. On top of this, it's important to consider the potential costs of: </p>
							<ul>
								<li>Time off work (most standard appointments are offered during the day and on weekdays only)</li>
								<li>Child care (if applicable)</li>
								<li>Missed-school when the patient is a school-age child (missed instruction, assignments and tests all need to be made-up)</li>
							</ul>
							<p>Our data tell us that many patients are paying hundreds of dollars for the inconveniences associated with seeing a dietitian through traditional channels. For those without insurance coverage for nutrition services, the consultations themselves could run anywhere from $300 to $500.</p>
							<p>This simply makes no sense to us, so we made our system much more convenient and we offer it at a much lower cost.</p>	      
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          Does Kindrdfood support languages other than English? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			        <p>At this time, Kindrdfood does not have dietitians who speak languages other than English with complete fluency. We do have clients who are not native English speakers and we do our very best to make sure that communication is clear and effective, just like a hospital would.</p>
							<p>This also pertains to cultural factors. We are sensitive to each client's cultural background, traditions, and food-ways. We also work hard to understand each client's local food sources, even in geographies that are significantly different from the geography where the client's matched-dietitian resides.</p>
							<p>This is another area of intended growth for Kindrdfood. Thank you for your patience if this is a key area of need for you or your patients.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSeven">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			          How do you form your team of Kindrdfood Dietitians? 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
			      <div class="panel-body">
					    <p>Kindrdfood is very selective about who we bring onto our team. First and foremost, every dietitian is:</p>
							<ul>
								<li>A current, Registered Dietitian</li>
								<li>A specialist in a particular area of nutrition</li>
								<li>A spectacular communicator & service provider</li>
								<li>A patient listener</li>
								<li>A person who loves food, family, and helping people</li>
							</ul>
							<p>Beyond those qualifications, we look for people who truly believe in and are passionate about our core objectives and mission as a company. We have a wonderful internal culture that we aim to maintain as we grow further.</p>
							<p>Everyone we bring on board at Kindrdfood is carefully evaluated for his or her level of expertise. We then provide additional training to ensure consistency of core competencies and perspectives. What we find when we train our RDs is that our initial criteria were effective at drawing in the best of the best. We can't speak highly enough about our carefully selected, skilled, compassionate team. </p>
							<p>Finally, we want our clients to know that we cultivate our team over time, meeting as a group to anonymously discuss challenging cases and current topics in food, nutrition and research. These are our “Kindrdfood rounds,” which allow us to share best practices and new strategies to meet the diverse, intricate needs of our clients.</p> 
			      </div>
			    </div>
			  </div>
			</div>			
		</div>
	</main>

	<!-- LANDING PAGE FOOTER -->
	<%= render "/landing_pages/landing_pages_rd_2/footer" %>

	<!-- LANDING PAGE SIGN UP MODAL -->
	<%#= render "/landing_pages/sign_up_modal", user: @user %>
</div>