<h2>Trusted, specialized guidance in food & nutrition</h2>
<div>
	<div>
		<%= image_tag("icons/icon_stethescope.png") %>
		<h4>HAVE A DIET LIMITING DIAGNOSIS?</h4>
		<p>A top-tier dietitian, who specializes in eating with your condition, will give you a guided path to regain control of healthy daily meals. Connect within days and without any travel.</p>
	</div>
	<div>
		<%= image_tag("icons/icon_computer_screen.png") %>
		<h4>WANT PERSONALIZED INFORMATION?</h4>
		<p>We match you with a dietitian and resources, personalized to your profile. All guidance is based on current research. We work with any food preference, as long as it's safe.</p>
	</div>
	<div>
		<%= image_tag("icons/icon_asterisk.png") %>
		<h4>FRUSTRATED BY FEWER OPTIONS?</h4>
		<p>Our experts help with even the most limited diets. Our experienced dietitians work together with your physician and care team.</p>
	</div>
	<div>
		<%= image_tag("icons/icon_question_marks.png") %>
		<h4>CAN'T FIND THE RIGHT EXPERT?</h4>
		<p>We match you with the right dietitian for your needs, from wherever you are. Connect live for a 1-on-1 session by video or phone.</p>
	</div>
</div>
<div class="specialties-banner">
	<button type="button" class="btn btn-link" data-toggle="modal" data-target="#specialtiesModal">List of our specialties</button>
</div>