<div class="row">
	<div class="col-xs-12 col-sm-push-4 col-sm-7">
		<%= render "/landing_pages/landing_pages_rd_2/wistia_video" %>
	</div>
	<div class="video-side-caption">
		<%= render "/landing_pages/landing_pages_rd_2/sections_for_patient/section_video_caption" %>
	</div> 
</div>
<div class="section-trusted-guidance">
	<%= render "/landing_pages/landing_pages_rd_2/sections_for_patient/section_trusted_guidance" %>
</div>