<h1>A guided path to navigate food with a medically limited diet: <em>Support that every patient deserves.</em></h1>
<%= link_to "START A PROFILE", landing_pages_new_sign_up_page_path, class: "register"%>
<h4><a href="#trusted-guidance-header">Learn More</a></h4>
<div class="video-footer">
	<p>Are you a health care provider?</p>
	<p><a href="/new_providers_page">SEE PROVIDER SOLUTIONS</a></p>
</div>