<h2>Pricing for Live 1-on-1 Guidance</h2>
<p>(Includes all accompanying recipes and information sent to you by your Kindrdfood Dietitian.)</p>
<div>
	<%= image_tag("icons/icon_sunshine.png") %>
	<p>$109</p>
	<p>1st Session<br>(1 hour)</p>
</div>
<p>Follow up sessions available for <br>1 hour ($109) or 1/2 hour ($69).</p>
<p>Discount packages available for follow up sessions.</p>
<h4><%= link_to "Insurance coverage & cost comparison", landing_pages_new_faq_page_path %></h4> 