<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<%#= image_tag("infographics/infographic_how_we_help_2.png") %>
		<h3>Expert guided path</h3>
		<p>Start on the right path and stay there. Expert guidance and personalized information you can trust, in 1 place.</p>
		<h3>Faster & less stressful change</h3>
		<p>Personalized guidance and curated resources save you tons of time and frustration.  Skip the search engine and go beyond general sources.</p>
		<h3>Easier, safer & tastier meals</h3>
		<p>Make your day-to-day, easier and smoother. Less decisions, less time shopping and better meals made specifically for your family profile.</p>
</div>