<div>
	<h2>We provide a specialized guide to navigate food<br>with a medically limited diet</h2>
	<div>
		<div>
			<%= image_tag("icons/icon_video_or_phone.png", class: "img-responsive") %>
		<!-- 	<h3>CONVENIENT ACCESS<br>LIVE ONLINE VIDEO OR PHONE</h3> -->
			<h3>LIVE ONLINE VIDEO OR PHONE</h3>
			<p>Live video (or phone) sessions let you connect to your dietitian at your convenience - even from your kitchen.  Meet within a few days, even on nights or weekends.</p>
		</div>
		<div>
			<%= image_tag("icons/icon_matching_arrows.png", class: "img-responsive") %>
			<h3>MATCH WITH AN EXPERT</h3>
			<p>Guidance from a dietitian with special expertise in your condition and unique challenges means that you get the right information the first time.</p>
		</div>
		<div>
			<%= image_tag("icons/icon_finger_print.png", class: "img-responsive") %>
			<h3>PERSONALIZED IN EVERY WAY</h3>
			<p>Recipes, information, and live support are all personalized to you, sparing you the time and stress of finding and trying to validate information.</p>
		</div>
	</div>
</div>