<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 bs-wizard" data-stage="<%=@sign_up_stage%>">
	<%=binding.pry%>
		<div class="sign-up-step-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">1</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="/registrations/new_user_family/<%=current_user.id%>" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Create your profile</div>
		</div>

		<div class="sign-up-step-2 col-xs-4 col-sm-4 col-md-4 col-lg-4 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">2</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<% if @appointment %>
				<a href="/appointments/<%=@appointment.id%>/select_time" class="bs-wizard-dot"></a>
			<% else %>
				<a href="#" class="bs-wizard-dot"></a>	
			<% end %>
			<div class="bs-wizard-info text-center">Schedule an appointment </div>
		</div>

		<div class="sign-up-step-3 col-xs-4 col-sm-4 col-md-4 col-lg-4 bs-wizard-step disabled">
			<div class="text-center bs-wizard-stepnum">3</div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">Review goals and details</div>
		</div>

	</div>
</div>