<div class="container">
	<div id="recipe-new-form-container" class="article-form-container">
		<div class="recipe-form-section row" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message">Alright! Let's write a <span class="attribute-title">NEW ARTICLE</span></h1>
		</div>
		<div id="new-article-form-container">
			<%= render 'form' %>
		</div>
	</div>
</div>