<div class="col-xs-12 form-group">
  <label class="radio-inline">
    <input type="radio" name="appointment_dietitian" id="radio-appointment-dietitian-1" value='<%=previous_dietitian.id %>'> <%=previous_dietitian.signature%>
  </label>
  <label class="radio-inline">
    <input type="radio" name="appointment_dietitian" id="radio-appointment-dietitian-all" value="" checked="checked"> All Kindrd Nutritionists
  </label>
</div>