<h2>Remote access to a specialized expert guide<br>to help your patients navigate food and nutrition.</h2>
	<div>
		<div>
			<%= image_tag("icons/icon_video_or_phone_green.png") %>
			<h4>LIVE ACCESS BY VIDEO OR PHONE</h4>
			<p>Patients connect live from their kitchen or office.  They can schedule within a few days and meet when they want, including at nights and on weekends.</p>
		</div>
		<div>
			<%= image_tag("icons/icon_matching_arrows_green.png") %>
			<h4>MATCH WITH AN EXPERT</h4>
			<p>We match each patient with a dietitian whose food and nutrition expertise is specifically focused on your patient's diet-limiting condition and related challenges.</p>
		</div>
		<div>
			<%= image_tag("icons/icon_check_mark_green.png") %>
			<h4>TRUSTED GUIDANCE THE 1st TIME AROUND</h4>
			<p>Evidence based guidance and delicious meals begin with the right expert.  Our dietitians are more than just well rounded. They are experts in their areas of specialty.</p>
		</div>
		<div>
			<%= image_tag("icons/icon_recycle.png") %>
			<h4>COORDINATED WITH HEALTHCARE</h4>
			<p>Each patient's nutrition guidance is coordinated with their healthcare provider. Dietitians send a follow-up to the provider after each session.</p>
		</div>
	</div>
	<div class="specialties-banner">
		<button type="button" class="btn btn-link" data-toggle="modal" data-target="#specialtiesModal">List of our specialties</button>
	</div>