<div>
	<h1>Quality and specialization matter</h1>
	<p>Our world-class, dietitian specialists give you better support to take on your specific challenges.</p>
	<div class="row">
		<div class="section-quality-left col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1">
			<h4 class="section-quality-sub-heading"><em>FINDING THE RIGHT FOOD &<br>NUTRITION SUPPORT IS OFTEN CHALLENGING</em></h4>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  
		  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          There is a range of expertise in nutrition <span>learn more</span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <p>Dietitians vs nutritionists</p>
			        <p>"Registered dietitian" or Dietitian is a credential, regulated by law in many countries, requiring substantial formal training and experience.  The title of nutritionist (alone) is not regulated, so while familiar, it does not indicate any minium level of knowledge or experience.  Dietitians and nutritionists are oftenly mistakenly used interchangeably.</p>
			        <p>Patient focused</p>
			        <p>Not all dietitians see patients, and some work in a food service capacity.</p>
			      </div>
			    </div>
		  	</div>
		  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Quality of guidance, service, and content varies <span>learn more</span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p>Evidence based nutrition vs fads and beliefs</p>
			        <p>Research is conducted in nutrition as with medicine and while not eveything is answered and is always subject to new learning, there is a lot of misinformaion and marketed nutrition "fads".  They aren't all bad, but it can be hard to know what is well evaluated and what is more like a belief.</p>
			        <p>Trusted guidance vs selling something</p>
			        <p>Unfortunately a lot of information online and guidance about food has a hidden sales agenda.  A specific food product, a book, or even a food belief system can be underlying guidance.  Selling is a part of the how people get introduced to new things but nutrition guidance driven by marketing can be a problem.</p>
			        <p>Service is an experience you deserve</p>
			        <p>Sadly, some expect service providers forget that service is most importantly abut the experience.  Even when you are stressed, confused and desperately need the right information, you shouldn't have to endure poor service.</p>
			      </div>
			    </div>
		  	</div>
		  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Nutrition is specialized - just like medicine <span>learn more</span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        <p>The right expert for each challenge</p>
				        <p>For virtually every condition, there are experts in nutrition and practical challenges of eating for that condition.  Would you want a knee surgeon working on your heart?  Of course not!  We apply the same logic to matching you with an expert Dietitian.</p>
				        <p>Not all dietitians are specialized</p>
				        <p>Many practitioners will simply create a long list of topics that they are familiar with.  We believe in going beyond well-rounded and connecting with an expert.</p>
				      </div>
				    </div>
		  	</div> 
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 hidden-md hidden-lg">
			<%= image_tag("logos/logo-vertical.jpg", class: "img-responsive hidden-md hidden-lg") %>
		</div>
		<div class="section-quality-right col-xs-12 col-md-5">
			<h4 class="section-quality-sub-heading"><em>THE RIGHT SPECIALIZED EXPERT &<br>THE HIGHEST QUALITY OF SUPPORT</em></h4>
			<ul class="kf-quality-list">
				<li>Every expert at Kindrdfood is a Registered Dietitian.
				</li>
				<li>Clients receive trusted, evidence based guidance and content.</li>
				<li>Every Kindrdfood Dietitian is a dietitian with focused specialties.</li>
			</ul>
			<%= link_to "SIGN UP", landing_pages_new_sign_up_page_path, class: "register" %>
		</div>
	</div>
</div>