<div>
	<h2>What are providers saying?</h2>
	<blockquote>
		<p>"I have a medically complex patient who required a nutritional intervention but did not have access to a local dietitian with knowledge of his disease.<strong> I was extremely impressed with the level of expertise provided by the Kindrdfood Dietitian</strong> who worked with his family. I am happy to report that the child is now doing very well.<strong> I will definitely refer my patients to Kindrdfood for nutritional guidance</strong>."</p>
		<h3>Athos Bousvaros, MD MPH</h3>
		<p>Associate Chief, Division of Gastroenterology, Hepatology and Nutrition, <strong>BOSTON CHILDREN'S HOSPITAL</strong></p>
		<p>Associate Professor of Pediatrics, <strong>HARVARD MEDICAL SCHOOL</strong></p>
		<p>Past President, <strong>NASPGHAN</strong> (North American Society for Pediatric Gastroenterology, Hepatology & Nutrition)</p>
	</blockquote>
</div>