<div>
	<h2>How it works</h2>
	<p>(in terms of general referral experience)</p>
	<div>
		<div>
			<p>1.</p>
			<h4>PROVIDER REFERS PATIENT</h4>
			<%= image_tag("icons/icon_stethescope_orange.png") %>
			<p>Kindrdfood team has expertise in nutrition for many different conditions.</p>
		</div>
		<div>
			<p>2.</p>
			<h4>PATIENT IS MATCHED WITH SPECIALIZED RD</h4>
			<%= image_tag("icons/icon_hands_orange.png") %>
			<p>Patient will see a specialist in their condition specific challenges.</p>
		</div>
		<div>
			<p>3.</p>
			<h4>RD GIVES PATIENT A GUIDED PATH</h4>
			<%= image_tag("icons/icon_path_orange.png") %>
			<p>Guidance and resources are personalized.  Each patient's journey is different, and always supported.</p>
		</div>
		<div>
			<p>4.</p>
			<h4>FOLLOW-UP SENT TO PROVIDER & PATIENT</h4>
			<%= image_tag("icons/icon_papers_orange.png") %>
			<p>Recipes and resources are sent to the patient.  Follow-up notes are sent to both patient and provider after each session..</p>
		</div>
	</div>
</div>