<div>
	<h2>Every Provider Using Kindrdfood Can Expect</h2>	
	<div>
		<div>
			<%= image_tag("computers/computer_video_chat.png") %>
		</div>
		<div>
			<ul>
				<li>Easy referral with or without integration into existing work-flows</li>
				<li>Easy access to exceptional specialized RDs for patients</li>
				<li>Patients matched with best possible dietitian for their needs</li>
				<li>Patient support coordinated with their provider</li>
				<li>Patient & practitioner interfaces designed specifically for food navigation & nutrition support</li>
			</ul>
			<h4><%=link_to "How do we match?", landing_pages_new_faq_page_path %></h4>
		</div>
	</div>
</div>