<div>
	<h2>World Class Nutrition Support for Your Patients</h2>
	<h4>Kindrdfood provides physician practices, hospitals, and ACOs, with a nutrition support solution for patients, making access to the right high quality guidance convenient, cost effective and coordinated with the rest of their health care.</h4>
	<p>(Dietitians are all carefully selected, specialized and focused on patients within their specialty.)</p>
	<%= link_to "CONTACT US", landing_pages_new_provider_sign_up_page_path, class: "register" %>
</div>