<h1>Give your patients easy access to high quality support</h1>
<p>Extend coordinated support beyond the clinic with 1-on-1 expert guidance through live online video or phone</p>
<%= link_to "CONTACT US", landing_pages_new_provider_sign_up_page_path, class: "register" %>
<div class="video-footer">
	<h4>
		<%= link_to(landing_pages_new_provider_sign_up_page_path) do %>
		  Register in less than 2 minutes
		  <br> 
		  to make fast referrals
		<% end %>

	</h4>
</div>