        <div class="col-xs-12">
          <h3>Client and patient history</h3>
          <p><%= @appointment.note %></p>
        </div>
         <div class="col-xs-12">
          <h3>Nutrition assessment</h3>
          <p><%= @appointment.client_note %></p>
        </div>
        <div class="col-xs-12">
          <h3>Recommendations (food, product, etc.)</h3>
          <p><%= @appointment.other_note %></p>
        </div>