 <div class="survey-item">
                <ul class="list">
                  <li><%= link_to "KRDN Notes", appointment_survey_path(surveyable, survey), remote: true %></li>
                  <li>Use during appointment.</li>
                  <li>Review anytime.</li>
                  <li>Your personal notes.</li>
                  <li>&nbsp;</li>
                  <li class="text-right"><%= link_to "Edit", edit_appointment_survey_path(surveyable, survey), class: "btn btn-xs btn-primary" %> <%= link_to "View", appointment_survey_path(surveyable, survey), remote: true, class: "btn btn-xs btn-default" %></li>
                </ul>
              </div>