<div id="categories-review-container">
  <div class="preview-title text-center">
    <h4 class="preview-heading">Recipe Categories:</h4>
    <% if @categories_array.count > 0 %>
    <div class="row">
      <% @categories_array.each do |category| %>
      <div class='col-xs-3 health-group-list-item'>
        <h4><%=category%></h4>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="col-xs-12 text-center"> 
      <div class="col-xs-4">
        <%= image_tag("add_recipe_images/breakfast.png") %>
      </div>
      <div class="col-xs-4">
        <%= image_tag("add_recipe_images/plate.png") %>
      </div>
      <div class="col-xs-4">
        <%= image_tag("add_recipe_images/table.png") %>
      </div>
    </div>
    <% end %>
  </div>
</div>