
<div class="row">
  <h4 class="ingredient-preview"><%= ingredient.name%></h4> 
  	<% ingredient.allergens.each do |allergen| %>
  		<div class="col-xs-3">
  			<p> <span class="allergen-tag text-left"><%=allergen.name%></span></p>
  		</div>
  	<% end %>
    <% if  ingredient.common_allergen == "true" %>
      <h5><%=ingredient.name%> is a common allergen found in other ingredients</h5> 
    <% end %>
</div>
