  <h4 class="ingredient-preview">
    <%=step.directions%>
  </h4>
  <p> 
  	<span class="main-tag text-left">
    	<% step.ingredients_recipes.each do |ingredient|%>
      	<%= ingredient.full_name %>
    	<% end %>
    </span>
  </p>

