
#leadership-landing-page {

	.splash-image-section {
		background-image: url("people/birthday-girl.jpg");
		// background-position: 0px -200px;
 		@media (max-width: $screen-sm-max) {
  	  // background-position: 70% -15px;
		}
	}

	.three-column-container h2, .four-column-container h2{
		margin-bottom: 50px;
	}

	.four-column {
		padding-top: 0;
	}
	
	.landing-page-row.three-column, .landing-page-row.four-column {
		.heading {
			text-align: left;
		}
		img {
			height: 200px;
		}
		padding-bottom: 50px;
		.three-column-one{
			h3{
				margin-bottom: -20px;
				font-style: normal;
			}
			p {
				margin-top: 30px;
			}
		}
	}
}