.landing-page, .education-page {


	// navigation bar
	.navbar {
		margin-bottom: 0px;
		min-height: 50px;

		// navigation list 
		ul.navbar-nav{
			margin: 10px;
    	margin-right: 1%;
			// last navigation list item is for Sign In

			li:last-child a {
				color: $brand-light-orange;
				display: inline-block;
			}

			// last navigation list item is for Sign Up
			li:last-child a:last-child {
				color: $brand-white;
				display: inline-block;
				line-height: 7px;
		    position: relative;
    		bottom: 2px;
			}
			// last navigation list item is for Sign Up
			li:last-child a:last-child:hover {
				color: $brand-light-orange;
			}
		}

		// navigation logo
		.navbar-brand{
			padding: 0px;
		}
	} // end navigation bar styling

	nav {
		a.btn-social-icon{
		    display: inline-block;
		}
		a.btn-social-icon:hover{
    	color: $brand-light-orange;
    	background-color: transparent;
		}
		// Sizes logo for responsive nav
		.landing-page-logo{
			margin-left: 5%;
			@media (max-width: $screen-sm-max) {
				max-height: 50px;
			}
			@media (min-width: $screen-sm-max) {
				max-height: 70px;	
			}		
		}
	}
}