// Landing page container
.kf-landing-page {
	@extend .container-fluid;
}

// Minimum and max height for nav
$landing-page-min-nav-height: 50px;
$landing-page-max-nav-height: 70px;

// Landing page navbar
.kf-landing-page .kf-landing-page-navbar{
	@extend .navbar;
	@extend .navbar-fixed-top;
	@extend .navbar-default;
	background-color: $brand-bg;
	color: $gray-darker;
	width: 100%;
	min-height: $landing-page-min-nav-height;
	margin-bottom: 0px;
	border: none;
	.navbar-brand {
		padding: 0px;
	}
}

// Navbar left column
.kf-landing-page .navbar-header {
	width: 25%;
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}

// Navbar right column
.kf-landing-page .navbar-collapse {
	width: 75%;
	float: left;
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}

// Navbar brand logo
.kf-landing-page .navbar-brand-image {
	margin-left: 5%;
	@extend .img-responsive;
	// Responsive max heights
	@media (max-width: $screen-sm-max) {
		max-height: $landing-page-min-nav-height;
	}
	@media (min-width: $screen-sm-max) {
		max-height: $landing-page-max-nav-height;	
	}		
}

// Navbar list items
.kf-landing-page .kf-landing-page-navbar-list {
	@extend .nav; 
	@extend .navbar-nav-height; 
	@extend .navbar-right;
	width: 100%;
	margin: 10px;
	margin-right: 1%;
	// Link font
	a {
		font-weight: bold;
		text-align: center;
	}
	// Responsive links
	li {
		width: 30%;
	}
	li:nth-child(n+3){
		width: 20%;
	}
	@media (max-width: $screen-xs-max) {
		li, li:nth-child(n+3) {
			width: 100%;
		}
	}
}

.kf-landing-page .landing-page-body {
	// Top margin for responsive nav
	@media (max-width: $screen-sm-max) {
		margin-top: $landing-page-min-nav-height;
	}
	@media (min-width: $screen-sm-max) {
		margin-top: $landing-page-max-nav-height;	
	}	

}

