// Buttons
.register {
			@extend .btn;
			@extend .btn-lg;
			@extend .btn-primary;
}

// Landing page container
.kf-landing-page {
	@extend .container-fluid;
}

// Minimum and max height for nav
$landing-page-min-nav-height: 50px;
$landing-page-max-nav-height: 70px;

// Landing page navbar
.kf-landing-page .kf-landing-page-navbar{
	@extend .navbar;
	@extend .navbar-fixed-top;
	@extend .navbar-default;
	background-color: $brand-bg;
	color: $gray-darker;
	width: 100%;
	min-height: $landing-page-min-nav-height;
	margin-bottom: 0px;
	border: none;
	.navbar-brand {
		padding: 0px;
	}
}

// Navbar left column
.kf-landing-page .navbar-header {
	width: 25%;
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}

// Navbar right column
.kf-landing-page .navbar-collapse {
	width: 75%;
	float: left;
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}

// Navbar brand logo
.kf-landing-page .navbar-brand-image {
	margin-left: 5%;
	@extend .img-responsive;
	// Responsive max heights
	@media (max-width: $screen-sm-max) {
		max-height: $landing-page-min-nav-height;
	}
	@media (min-width: $screen-sm-max) {
		max-height: $landing-page-max-nav-height;	
	}		
}

// Navbar list items
.kf-landing-page .kf-landing-page-navbar-list {
	@extend .nav; 
	@extend .navbar-nav; 
	@extend .navbar-right;
	width: 100%;
	margin: 10px;
	margin-right: 1%;
	// Link font
	a {
		font-weight: bold;
		text-align: center;
	}
	// Responsive links
	li {
		width: 30%;
		font-size: 20px;
	}
	li:nth-child(n+3){
		width: 20%;
	}
	li:last-child a {
		color: $brand-white;
	}
	@media (max-width: $screen-xs-max) {
		li, li:nth-child(n+3) {
			width: 100%;
		}
	}
}

// Landing page container 
.kf-landing-page .kf-landing-page-sections {
	// Top margin for responsive nav
	@media (max-width: $screen-sm-max) {
		margin-top: $landing-page-min-nav-height + 5px;
	}
	@media (min-width: $screen-sm-max) {
		margin-top: $landing-page-max-nav-height + 5px;	
	}	
}

// Landing page sections
.kf-landing-page .kf-landing-page-sections section {
	@include make-row();
	position: relative;
	padding: 3% 0;
}

// Section - Video
.kf-landing-page #section-video{

	.row {
		text-align: center;
		margin: 0;
	}

	.video-side-caption {
		@include make-xs-column( 12 );
		@include make-sm-column-pull( 7 );
		@include make-sm-column( 4 );
		@include make-lg-column( 3 );
		margin-left: 5%;
		h1 {
			margin-top: 0px;
			line-height: 1.4;
			font-size: 30px;
		}
	}	
	@media (max-width: $screen-lg-min) {
		.video-side-caption {
			margin-left: 0;
			h1 {
				font-size: 24px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		.video-side-caption {
	    padding-top: 5%;
		}
	}




	// section beneath video image
	.section-trusted-guidance {
		position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
		background-color: $brand-dark-green;
		color: $brand-white;
		button {
			color: $brand-white;
		}
		button:hover {
			color: $brand-light-green;
		}
    text-align: center;
    padding-top: 3%;
		padding-bottom: 0;
    margin-top: 3%;
    > div {
    	@include make-row();
    	> div {
    		@include make-xs-column( 10 );
    		@include make-xs-column-offset( 1 );
    		@include make-sm-column-offset( 0 );
    		@include make-sm-column( 6 );
    		@include make-md-column( 3 );
    		padding: 1% 5%;
    		> img {
    			@extend .img-responsive;
    			padding: 10%;
    			margin: 0 auto;
    			width: 100%;
    			max-width: 350px;
    		}
    		> h3 {
    			margin-bottom: 20px;
    		}
    	}
    }
    .specialties-banner {
    	background-color: $gray;
    	margin-top: 20px;
    }
    button {
			text-decoration: underline;
			font-size: 24px;
			padding: 2%;
			margin: 0;
		}
	}
}

// Section - Navigate Food
.kf-landing-page #section-navigate-food{
	text-align: center;
	h3 {
    color: green;
    border: 5px solid green;
    border-radius: 15px;
    padding: 20px;
	}
	p {
    margin: 6%;
    line-height: 2;
	}
}

// Section - Quality
.kf-landing-page #section-quality {
	text-align: center;
	background-color: $brand-dark-green;
	color: $brand-white;
	@media (min-width: $screen-sm-max) {
		.section-quality-right{
			border-left: 5px solid $brand-white;
		}
	} 	
	.section-quality-sub-heading {
		line-height: 1.5;
		margin-bottom: 30px;
	}
	.panel {
		background-color: $gray-light;
	}
	// .section-quality-sub-heading:after {
	//  	content: "";
 //    position: absolute;
 //    left: 10%;
 //    top: 26%;
 //    height: 1px;sp
 //    width: 80%;
	//   border-bottom:5px solid $brand-white;
	// }
	> div {
		@include make-xs-column( 12 );
		> p {
	    font-size: 20px;
	    margin-bottom: 75px;
		}
		> div {
			> div {

				.panel-group{
					// color: $brand-dark-green;
					text-align: left;
				}	
				.panel.panel-default {

					background-color: inherit;
					border: inherit;
					border-color: inherit;
					margin-bottom: 30px;
				} 
				.panel-default > .panel-heading + .panel-collapse > .panel-body {
					border-top-color: inherit;
				}
				.panel-group .panel-heading + .panel-collapse .panel-body {
					border-top: inherit;
				}
				[data-toggle="collapse"] span:after {
			    font-family: 'FontAwesome';
			    content: "\f078";    
			    float: right;

				}
				[data-toggle="collapse"] span {
					float: right;
					color: $brand-light-orange;
				}
				img {
					@extend .img-responsive;
					max-height: 200px;
					margin: 0 auto;
					max-height: 150px;
			    margin: 20px auto;
				}
				ul{
					text-align: left;
				}
				ul.kf-quality-list {
					list-style-type: none;
			    margin: 0 auto;
			    text-align: left;
			    max-width: 500px;
					li {
						background: url('icons/icon_verified_list.png') no-repeat left top;
						background-size: contain;
				    height: 54px;
				    margin: 7%;
				    font-size: 16px;
				    padding-left: 100px;
					}
					li:first-child{
						background: url('icons/icon_rd.png') no-repeat left top;
						background-size: contain;
					}
					li:last-child{
						background: url('icons/icon_puzzles.png') no-repeat left top;
						background-size: contain;
					}
				}
			}
			a.register {
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-primary;
				font-size: 25px;
				margin-top: 20px;
			}
		}
  }
}

// Section - Specialization
.kf-landing-page #section-specialization {
  text-align: center;
  > div {
  	@include make-xs-column( 12 );
		h2 {
			line-height: 1.5;
		}
  	> div {
  		@include make-row();
  	  > div {
    		@include make-xs-column( 8 );
    		@include make-xs-column-offset( 2 );
    		@include make-md-column-offset( 0 );
    		@include make-md-column( 4 );
    		padding: 1% 5%;
    		> img {
    			padding: 10%;
    			margin: 0 auto;
    			width: 100%;
    			max-width: 350px;
    		}
    		> h3 {
    			margin-bottom: 20px;
    		}    	
    	}
    }
  }		
}

// Section - Client Success
.kf-landing-page #section-client-success {
  text-align: center;
  > div {
  	@include make-xs-column( 12 );
  	h2{
  		margin-bottom: 30px
  	}
  	> div {
  		@include make-row();
  		background-color: $brand-light-orange;
  		> div:not(:first-child) {
    		@include make-xs-column( 10 );
    		@include make-xs-column-offset( 1 );
    		@include make-sm-column-offset( 0 );
  			@include make-sm-column( 3 );
  			padding-top: 15px;
  			padding-bottom: 15px;
  			background-color: $brand-carrot-orange;
  			> img {
  				@extend .img-responsive;
  				margin: 0 auto;
  				width: 100%;
    			max-width: 424px;
  			}
  			> p {
  				margin-top:  20px;
  			}
  			> button {
  				@extend .btn;
					@extend .btn-lg;
					@extend .btn-primary;
  			}
  		}
  	  > div:first-child {
  	  	@extend .hidden-xs;
  	  	@include make-sm-column( 2 );
  	  }
  	}
  }
}

// Section - Experts
.kf-landing-page #section-experts {
  text-align: center;
	.carousel-container {
			color: $brand-white;
	}
  > div {
  	@include make-xs-column( 12 );
  	> p{
  		margin-bottom: 30px
  	}
  	> div {
  		@include make-row();
  		background-color: $brand-light-green;
  		> div:not(:first-child) {
    		@include make-xs-column( 10 );
    		@include make-xs-column-offset( 1 );
    		@include make-sm-column-offset( 0 );
  			@include make-sm-column( 3 );
  			padding-top: 15px;
  			padding-bottom: 15px;
  			background-color: $brand-dark-green;
  			> img {
  				@extend .img-responsive;
  				margin: 0 auto;
  				width: 100%;
    			max-width: 424px;
  			}
  			> p {
  				margin-top:  20px;
  			}
  			> button {
  				@extend .btn;
					@extend .btn-lg;
					@extend .btn-success;
  			}
  		}
  	  > div:first-child {
  	  	@extend .hidden-xs;
  	  	@include make-sm-column( 2 );
  	  }
  	}
  	> a {
			margin-top: 50px;
	  }
	}
}

// Section - Guidance
.kf-landing-page #section-guidance {
  text-align: center;
  background-color: $gray-lighter;
  > div {
  	@include make-xs-column( 12 );
  	> div {
  		@include make-row();
  		> div {
  			@include make-xs-column( 12 );
  			@include make-sm-column( 6 );
  			> img {
		  		@extend .img-responsive;
		    	max-width: 400px;
		    	margin: 0 auto; 
					@media (max-width: $screen-sm-max) {
						width: 100%;
					} 	
		    }
		    > ul {
		    	text-align: left;
		    	width: 100%;
		    	margin: 5% auto;
		    	font-size: 20px;
    			line-height: 2;
					@media (max-width: $screen-md-max) {
						width: 100%;
					}
		    }
		    > h3 {
		    	margin: 10% auto;		    
		    }
		    > div {
		    	@include make-row();
		    	> div {
		    		@include make-xs-column( 12 );
		    		@include make-sm-column( 4 );
		    		> a > img {
		    			@extend .img-responsive;
    			    margin: 0 auto;
    			    width: 100%;
    			   	max-width: 424px;

		    		}
		    		> a > p {
		    			font-size: 20px;
		    		}
		    	}
		    }
  		}
  	}
	}
}

// Section - Pricing
.kf-landing-page #section-pricing {
  text-align: center;
	> div {
	  height: 250px;
	  width: 250px;
	  margin: 50px auto;
	 	position: relative;
  	> img {
  		width: 250px;
  		height: auto;
  		position: absolute;
  		top: 0;
  		left: 0;
  	} 
  	> p {
			position: absolute;
    	font-size: 50px;
  		top: 60px;
  		left: 70px;
    	color: white;
  	}
  	> p:last-child {
  		top: 152px;
    	left:75px;
    	font-size: 20px;
  	}
  }
  > p > br {
		@extend .visible-xs-inline;
  }
}

// Section - Provider Solution
.kf-landing-page #section-provider-solution {
 background-color: $gray-lighter;
 text-align: center;
  > div {
    @include make-xs-column( 8 );
    @include make-xs-column-offset( 2 );
  	> h2{
  		margin-bottom: 35px;
  	}
  	> h4 {
  		line-height: 1.5;
  	}
		> a.register {
			margin-top: 20px;
		}
	}
}

// FOOTER
.kf-landing-page footer {
	@include make-row();
	text-align: center;
	> div {
		 @include make-row();
		 > div {
		 	@include make-xs-column(4);
		 }
		 > div:last-child {
		 	 @include make-xs-column(12);
		 }
	}
}


// PROVIDER PAGE
#kf-landing-page-provider.kf-landing-page {

	// Seciton - Video
	#section-video {
		.video-footer {
			h4 {
				line-height: 1.5;
			}
		}
			
		// section beneath video image
		.section-trusted-guidance {
			background-color: $brand-light-orange;
			padding-bottom: 0;
			button {
				color: $brand-white;
			}
			button:hover {
				color: $brand-light-green;
			}
		}
	}

	// Section - Infographic
	#section-navigate-food {
		padding-top: 0px;
    p {
    	margin: 0;
  	}
		.infographic {
			position: relative;
			height: 500px;
			width: 500px;
	    margin: 150px auto;
			@media (max-width: $screen-sm-max) {
				margin-top: 0px;
			}
			.infographic-arc-left{
				position: absolute;
				top:0;
				left:40px;
				width:200px;
			}
			.infographic-arc-left + h4{
				position: absolute;
    		top: -100px;
    		left: -200px;
			}
			.infographic-arc-left + h4 + p {
				position: absolute;
    		top: -20px;
    		left: -220px;
  		}
			.infographic-arc-right{
				position: absolute;
				top:0;
				right: 40px;
				width:200px;
			}
			.infographic-arc-right + h4{
				position: absolute;
    		top: -100px;
    		right: -240px;
			}
			.infographic-arc-right + h4 + p {
				position: absolute;
    		top: -20px;
    		right: -220px;
  		}
			.infographic-arc-bottom{
				position: absolute;
				bottom: 90px;
		    left: 80px;
		    height: 150px;
			}
			.infographic-arc-bottom + h4{
				position: absolute;
    		bottom: 100px;
    		left: -150px;
			}
			.infographic-arc-bottom + h4 + p {
				position: absolute;
		    bottom: 0;
		    left: -200px;
  		}
			.infographic-plus-people{
				position: absolute;
				top:0;
				left:0;
				width:150px;
				z-index: 1;
			}
			.infographic-plus-provider{
				position: absolute;
		    top: 0;
		    right: 0;
		    width: 150px;
		    z-index: 1;
			}
			.infographic-provider{
				position: absolute;
		    bottom: 15px;
		    left: 180px;
		    width: 150px;
		    z-index: 1;

			}
			.infographic-logo-center{
		    position: absolute;
		    top: 110px;
		    left: 180px;
		    width: 150px;
		    z-index: 0;
			}
			button {
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-primary;
		    position: absolute;
		    bottom: 100px;
		    right: -100px;
			}
			a{
		    position: absolute;
		    bottom: 50px;
		    right: -135px;
			}
			@media (max-width: $screen-sm-max) {
				height: auto;
				@include make-xs-column( 12 );
				* {
					margin: 3% auto;
				}
				.infographic-arc-left{
			    display: none !important;
			    visibility: hidden !important;
				}
				.infographic-arc-left + h4{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
				.infographic-arc-left + h4 + p {
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
	  		}
				.infographic-arc-right{
			    display: none !important;
			    visibility: hidden !important;
				}
				.infographic-arc-right + h4{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
				.infographic-arc-right + h4 + p {
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
	  		}
				.infographic-arc-bottom{
			    display: none !important;
			    visibility: hidden !important;				
			  }
				.infographic-arc-bottom + h4{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
				.infographic-arc-bottom + h4 + p {
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
	  		}
				.infographic-plus-people{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
					width: 100%;
					max-width:150px;
				}
				.infographic-plus-provider{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
					top:0;
					left:0;
					width: 100%;
					max-width:150px;
				}
				.infographic-provider{
					position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
			    width: 100%;
			    max-width: 150px;
				}
				.infographic-logo-center{
					position: relative;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    width: 100%;
			    max-width: 150px;
		    	z-index: 0;
    	    display: none;
				}
				button {
					@extend .btn;
					@extend .btn-lg;
					@extend .btn-primary;
			    position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
				a{
			    position: relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
					display: block;
				}
			}
		}
	}
	// Section - Guidance
	#section-guidance{
		h2 {
			margin-bottom: 50px;
		}
	}

	// Section - How It Works
	#section-specialization p:first-child{
		color: $brand-light-orange;
		font-size: 20px;
	}

	// Section - Providers Saying
	#section-provider-saying {
	 	background-color: $brand-dark-green;
	 	color: $brand-white;
	 	text-align: center;
  	> div {
	    @include make-xs-column( 12 );
	  	> h2 {
	  		margin-bottom: 35px;
	  	}
	  	p:first-child {
	  		line-height: 2.5;
    		font-size: 20px;
    		margin-bottom: 50px;
    		@media (max-width: $screen-xs-max) {
    			line-height: 1.8;
    		}
	  	}
	  	p:not(:first-child), h3 {
	  		text-align: left;
	  		margin-left: 5%;
	  	}
	  }
	}
	a.register {
			@extend .btn;
			@extend .btn-lg;
			@extend .btn-primary;
			margin-top: 20px;
		}
}

.kf-landing-page .kf-landing-page-sub-navbar {
	@extend .navbar;
	@extend .navbar-default;
	background-color: $gray-lighter;
	color: $gray-darker;
	width: 100%;
	margin-bottom: 0px;
	border: none;
	ul {
		@extend .nav; 
		@extend .navbar-nav; 
		@extend .navbar-right;
		width: 100%;
		margin: 10px;
		margin-right: 1%;
		// Link font
		a {
			text-align: center;
			font-size: 20px;
			@media (max-width: $screen-xs-max) {
				font-size: 16px;
			}
		}
		// Responsive links
		li {
  		@include make-xs-column( 2 );
			@media (max-width: $screen-xs-max) {
				@include make-xs-column( 3 );
			}
		}
		li:first-child{
			@include make-xs-column-offset( 2 );
			@media (max-width: $screen-xs-max) {
				@include make-xs-column-offset( 0 );
			}
		}
	}
}

.kf-landing-page.landing-page-sub-navbar .kf-landing-page-sections {
	@include make-row();
}

// CONTACT US PAGE
#kf-landing-page-contact-us.kf-landing-page {
	.kf-landing-page-sections {
		text-align: center;
		> div {
			@include make-xs-column( 10);
			@include make-xs-column-offset( 1 );
			> * {
				margin-top: 3%;
				margin-bottom: 3%;
			}
		}
	}
}

#kf-landing-page-leadership.kf-landing-page .kf-landing-page-sections{
	h1{
		text-align: center;
		margin-bottom: 50px;
	}
	> div {
		@include make-xs-column( 3);
		@media (max-width: $screen-xs-max) {
			@include make-xs-column(12);
		}
		> div {
			@extend .thumbnail;
			img {
				max-height: 500px;
			}
		}
	}
}

#kf-landing-page-sign-up.kf-landing-page .kf-landing-page-sections {
	h1 {
    color: white;
    background-color: $brand-light-orange;;
    padding-top: 20px;
		padding-bottom: 20px;
		margin-left: -15px;
    margin-right: -15px;
    text-align: center;
	}
	p {
    margin: 25px;
    text-align: center;
	}
	> div {
		@include make-row();
		> div {
			@include make-xs-column(6);
			@include make-xs-column-offset( 3 );
	  }
	}
}

// MODALS
#specialtiesModal {
	.modal-content {
		background-color: $gray;
    padding: 2%;
	}
	.modal-body {
		text-align: center;
		h4, p {
			color: white;
		}
	}
	.specialties-list-container {
		background-color: $gray-lighter;
    border-radius: 15px;
    border: 1px solid black;
    padding: 20px 0;
	}
	.specialties-list-container + p {
		margin-top: 2%;
	}
	ul {
		display: inline-block;
    list-style-type: none;
    padding: 0;
	}
}

// provider dashboard
#kf-provider-dashboard {
	.kf-icon {
	    max-height: 150px;
	    margin: 0 auto;
	    margin-bottom: 5%;
	}
	.kf-landing-page-navbar-list li {
		width: 16%;
	}	
	form {
    margin-top: 2%;
	}
	.alerts-container .alert {
		    margin-top: 100px;

	}
}
