// CONTACT US PAGE
#kf-landing-page-contact-us.kf-landing-page {
	.kf-landing-page-sections {
		text-align: center;
		> div {
			@include make-xs-column( 10);
			@include make-xs-column-offset( 1 );
			> * {
				margin-top: 3%;
				margin-bottom: 3%;
			}
		}
	}
}