

#our-solution-landing-page{
		.splash-image-section{
			background-image: url("food/salad.jpg");
			background-position: center;
		}
		.landing-page-row{
			
			&.two-column-center {
				.two-column-container{
					@include make-xs-column( 10 );
				  @include make-xs-column-offset( 1 );
				  @extend .text-center;
				  .two-column-one{
				  	@include make-xs-column( 12 );
				  	@include make-sm-column( 6 );
				  	img{
				  		margin-top: 50px;
				  		margin-bottom: 50px;
				  	} 
				  	h2 {
		  		    margin-bottom: 40px;
				  	}
				  }
				}
			}
		}

}