
#our-mission-page{
	.splash-image-section {
		background-image: url("splash_images/place-setting-splash.jpg");
	}
	.team-images-container{
    margin-top: 50px;
    margin-bottom: 50px;
    &:last-of-type div:first-child, &:last-of-type div:last-child {
    	@media (min-width: $screen-sm-min) {
    		margin-top: 35px;
    	}
    }
	}
}