#who-we-help-landing-page{
	.splash-image-section{
		background-image: url("food/oranges.jpg");

		// flips background image horizontally
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: "FlipH";
        filter: FlipH;
	}

	.splash-image-section .left-splash-column {
		
                float: right;
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                -ms-transform: scaleX(-1);
                transform: scaleX(-1);
                -ms-filter: "FlipH";
                filter: FlipH;

                @media (max-width: $screen-xs-max) {
                        h1 {
                                font-size: 40px;
                        }
                }
               @media (max-width: $screen-sm-max) {
                        h1 {
                                font-size: 50px;
                        }
                }
	}


}