<div id="new-steps-form" class="form-group">
  <div class=" form-group row text-center">
  <div class="col-xs-12">
    <h2>Add your steps!</h2>
    <p>Some recipes require steps to be divided into groups (like for a recipe that prepares fish and a salad).   Please select the number of groups you need if 1 is not enough.</p>
  </div>
  <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <select class="form-control">
        <option value="one">One Set of Steps</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
        <option value="four">Four</option>
        <option value="five">Five</option>
      </select>
    </div>
  </div>
  <div class="individual-step-form">
      
  </div>
  <div class="row form-group hidden-form">
    <div class="form-group text-center">
      <p>Finished adding all of your steps?
      </p>
    </div>
    <div class="form-group text-center"> 
    <%= link_to "NEXT", edit_allergens_path(@recipe_id), :class => "btn btn-success btn-lg" %>
    </div>
  </div>
</div>


