<div id="new-ingredient-form">
    <div class=" form-group row text-center">
      <h2>Add your ingredients!</h2>
    </div>
    <div class="individual-ingredient-form">
    </div>
    <div class="row hidden-form">
      <div class="form-group text-center">
        <p>Finished adding all of your ingredients?
        </p>
      </div>
      <div class="form-group text-center"> 
        <button type="button" class="next-button btn btn-success btn-lg">NEXT</button>
      </div>
    </div>
</div>

