<div id="recipe-breadcrumb" class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <h2>Create your recipe</h2>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">1. Recipe Essentials</a></li>
          <li><a href="#about">2. Allergy Information</a></li>
          <li><a href="#contact">3. Recipe Groups</a></li>
          <li><a href="#contact">4. Personalize by Group</a></li>
        </ul>
      </div>
  </div>
</div>