<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <div id="allergens-preview">
      <div id="basic-info-container">
        <div class="col-xs-6 col-xs-offset-3 alert alert-danger text-center">
          <h3>Last Step!</h3>
          <p>Please review all of the information before saving. Click the edit symbol to make changes.</p>
        </div>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" id="basic-info-review" data-parent="#accordion" href="#collapseOne">
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body" id="basic-info-review-form">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>