<div id="dietitian-recipes-index-container">
 	<div class="form-group col-xs-12 form-group text-center">
 		<h2>Thanks for your <%=@recipes_count%> recipes!</h2>
		<h5>Your <span>11,034,331</span> clients appreciate it</h5>
 	</div>
	<div class="col-xs-12 text-center">
		<p><%= link_to image_tag("chef-hat.png", class: "tilt"), :controller => "recipes", :action => "new" %>	</p>
		<p>Create a Recipe</p>
	</div>
	<div id="current-recipes">
		<% @recipes.each do |recipe| %>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
			<h3><%=recipe.name%></h3>
			<p><%=link_to "Edit", review_recipe_path(recipe) %></p>
			<p><%#=link_to "View", recipe_path(recipe) %></p>
			<p><%#=link_to "QA", new_recipe_quality_review_path(recipe) %></p>
		</div>
		<% end %>
	</div>
</div>

