<div class="container">
	<div id="recipe-new-form-container">
		<div class="recipe-form-section row" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message">Edit the fields for <span class="attribute-title"> <%=@recipe.name%></span></h1>
		</div>
		<%= render 'form' %>
	</div>
</div>