   <%= render "/recipes/new_recipe_breadcrumbs" %>
<!-- RECIPE PAGE BACKGROUND-->
    <div id="recipe-background">
      <div class="container">
        <div class="col-xs-6">
        	<%= render "nutrition_groups_form" %>
        </div>
        <div class="col-xs-6">
          <%= render "nutrition_groups_preview" %>
        </div> 
      </div>
    </div> 
