<div class="container">
	<div id="recipe-new-form-container">
		<div class="recipe-form-section row" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message">Yay! Let's add a <span class="attribute-title">NEW RECIPE</span></h1>
		</div>
		<%= render 'form' %>
	</div>
</div>