<%= simple_form_for(@growth_chart) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: family_member.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Growth Chart", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
