<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @growth_chart.user %>
</p>

<%= link_to 'Edit', edit_growth_chart_path(@growth_chart) %> |
<%= link_to 'Back', growth_charts_path %>
