<% if @item_category == "title" %>
	<div id="marketing-title-<%=@patient_group_id%>">
<% else %>
	<div id="marketing-description-<%=@patient_group_id%>">
<% end %>
		<h4 class="active-preview-heading">
			<%=@marketing_item.content%>
			<%= link_to edit_recipe_marketing_item_path(@recipe_id, @marketing_item), :remote => true  do %>
		    <span class='glyphicon glyphicon-edit'></span>
		  <% end %> 
		</h4>
	</div>