<div id="groups-container">
<% if @patient_groups %>
  <% @patient_groups.each do |patient_group| %>
  <div class="form-group">
    <div id="marketing-preview-container-<%=patient_group.id%>">
      <h2 class="active-preview-heading"><%=patient_group.name%></h2>
      <div class="preview-info"> 
        <div class="col-xs-12" id="marketing-item-<%=patient_group.id%>-title">
          <h2 class="light-gray-font">TITLE</h2>
        </div>
        <div class="col-xs-12 form-group" id="marketing-item-<%=patient_group.id%>-description">
          <h2 class="light-gray-font">DESCRIPTION</h2>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
  <div class="form-group">
      <div id="marketing-preview-container-0">
        <h2 class="active-preview-heading">General</h2>
        <div class="preview-info"> 
          <div class="col-xs-12" id="marketing-item-0-title">
            <h2 class="light-gray-font">TITLE</h2>
          </div>
          <div class="col-xs-12 form-group" id="marketing-item-0-description">
            <h2 class="light-gray-font">DESCRIPTION</h2>
          </div>
        </div>
      </div>
    </div>
</div> 