<div class="container">
	<div class="article-form-container">
		<div class="recipe-form-section row form-group" id="recipe-form-section-0">
			<h1 id="add-recipe-title-message">Spread your <span class="attribute-title">CONTENT</span></h1>
		</div>
		<div class="col-xs-3">
			<%= render 'marketing_itemable_info' %>
		</div>
		<div class="col-xs-9" id="marketing-item-index-form">

			<%= render 'form' %>

		</div>
</div>