<div id="family-page" class="container-fluid">
    <div class="row">

      <%= render "/layouts/navbars/user_nav" %>

      <main class="col-xs-10 col-xs-offset-2">
        <section class="alerts-container">
          <%= render "/layouts/alerts" %>
        </section>
        <div class="col-xs-12">
          <%= render "/families/new_family_member_form", family: @family, family_member: @family_member %>
    
        </div>
      </main>
      <div class="col-xs-10 col-xs-offset-2">
        <%=render "/layouts/footers/main_footer" %>
      </div>
    </div>
  </div>
