<!-- BREADCRUMB
FOR 
RECIPE -->
   <%= render "/recipes/new_recipe_breadcrumbs" %>
<!-- RECIPE PAGE BACKGROUND-->
    <div id="recipe-background">
      <div class="container">
        <div class="col-xs-6">
        	<%= render "edit_allergens_form" %>
        </div>
        <div class="col-xs-6">
          <%= render "/recipes/allergens_ingredient_preview" %>
        </div> 
      </div>
    </div> 

