		  <div role="tabpanel" class="tab-pane fade" id="more">
		  	<div class="col-xs-10 col-xs-offset-1">
			  	<p>Have more to share?</p>
			  	<textarea class="form-control form-group" placeholder="Enter any additional information here.  Anything you think is important..is!" name="user_added_info" rows="4"></textarea>
			  </div>
		  </div>