			<div id="preferences-title" class="col-xs-5">
				<h3>Nutrition Preferences for</h3>
			</div>
			<div id="preferences-first-name" class="col-xs-3 form-group">
	      <%= f.input :first_name, autofocus: true, class: "form-control", type: "text", label: false %>
		  </div>
		  <div id="preferenes-last-name" class="col-xs-3  form-group">
	      <%= f.input :last_name, autofocus: true, class: "form-control", type: "text", label: false %>
		  </div>