			<div id="preferences-title" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h3>Name: </h3>
			</div>
			<div id="preferences-first-name" class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0  form-group">
	      <%= f.input :first_name, autofocus: true, class: "form-control", type: "text", label: false, place_holder: "First Name" %>
		  </div>
		  <div id="preferences-last-name" class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3  col-lg-offset-0 form-group">
	      <%= f.input :last_name, autofocus: true, class: "form-control", type: "text", label: false %>
		  </div>