		<ul id="new-user-nutrition-tabs" class="nav nav-tabs col-xs-12" role="tablist">
		  <li role="presentation" class="active col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="#general" role="tab" data-toggle="tab">General Nutrition</a></li>
		  <li role="presentation" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a class="col-xs-12" href="#allergies" role="tab" data-toggle="tab">Food Allergies</a></li>
		  <li role="presentation" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a class="col-xs-12" href="#intolerances" role="tab" data-toggle="tab">Intolerances</a></li>
		  <li role="presentation" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a class="col-xs-12" href="#diseases" role="tab" data-toggle="tab">Nutrition Related Diseases</a></li>
		  <li role="presentation" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a class="col-xs-12" href="#diets" role="tab" data-toggle="tab">Special Diets</a></li>
		  <li role="presentation" class="col-xs-12 col-sm-1 col-md-1 col-lg-1"><a class="col-xs-12" href="#more" role="tab" data-toggle="tab">More</a></li>
		</ul>