<div class="col-xs-12">
  <h4>Easier to explain what <%=@user.first_name%> <span> can</span> eat?</h4>

  <%= f.input :family_note, label: false, placeholder: "Share here", input_html: {class: "form-control", rows: 4} %> 
</div>