


<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<%= image_tag("landing_page/kindrdfood-logo.jpg", class: "img-responsive") %>
			  <h1>Welcome!</h1>
			  <p>Our site is under construction.</p>
			  <p>If you are a current member and would like to reach your dietitian</p>
			  <p>or would like to make an appointment please email us at</p>
			  <h3>customer.service@kindrdfood.com</h3>
			  <h3><a class="btn btn-lg btn-success btn-sign-up" href="mailto:customer.service@kindrdfood.com">Email us here!</a></h3>
			</div>
    </div>
  </div>			
</div>

