<div class="provider-landing-page">
	<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-lg-6">	
		<div id="logo-container" >
			<%= image_tag("landing_page/kindrdfood-logo.jpg", class: "img-responsive") %>
		</div>
	</div> 
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-lg-6 text-center" >
		<h1 class>Welcome! </h1>
		<h4>We believe that everyone should be able to enjoy a variety of great tasting food regardless of medical conditions, dietary restrictions or a need to eat more healthily. Kindrdfood will help you and your family eat, buy and prepare great food with confidence and ease.</h4>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<form>
			<div class="form-group">
				<h3 for="">Referring Physician:</h3>
				<input type="text" class="form-control" id="text" placeholder="Enter your physician's name">
			</div>
			<div class="form-group col-xs-12 text-center">
				<%= button_tag "Submit", :type => 'button', :class => "btn btn-success btn-lg", :onclick => "location.href = '/Ta10lI8839dAmi'" %>
			</div>
		</form>
	</div>
</div>


