
<div id="get-started-page" class="fork-background" >

	<div id="addNutritionModel" class="modal fade in" style="display: block;">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-body">

	      	<!--  REGISTRATION BREAD CRUMBS -->
	        <%= render "breadcrumbs", stage_of_registration: @stage_of_registration %>
	        
	        <!--  HEADING -->
	        <h1>Click on all that apply for <%=@user.first_name%></h1>
	        <h4>To deselect, simply click on the square again.</h4>
		
					<!--  USER FORM -->
					<%= render "welcome/add_nutrition/add_nutrition_form", user: @user %>
			
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	

</div>


