<div id="get-started-page" class="veggies-background">

	<div id="getStartedModel" class="modal fade in" style="display: block;">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-body">
	       
	        <!--  REGISTRATION BREAD CRUMBS -->
	        <%= render "breadcrumbs", stage_of_registration: @stage_of_registration %>

	        <!--  HEADING -->
	        <h1>Ready to eat healthier?</h1>
	        <h4>Let's create your account.</h4>

	         <!-- 	USER FORM -->
	         <%= render "welcome/get_started/registration_form", resource: @user %>
	         
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	

</div>

<%= render "/landing_pages/privacy_modal"%>
