
.landing-page{


	.left-nav-container{ 

		@include make-xs-column( 12 );
		@include make-sm-column( 4 );
		@include make-sm-column-offset( 1 );

		nav.left-nav ul {
			list-style: none;
			padding: 0;
		}

		nav.left-nav ul li {
			padding:10px;
			border-top: 1px solid grey;
			position: relative;

		}

		nav.left-nav ul li.active{
			background-color: green;
			border-color: green;
		}

		nav.left-nav ul li a {
			color: grey;
		}

		nav.left-nav ul li.active a{
			color: white;
		}
		nav.left-nav ul li.active a:after {
			border-bottom: 20px solid rgba(0, 0, 0, 0);
		  border-left: 20px solid green;
		  border-top: 20px solid rgba(0, 0, 0, 0);
		  content: "";
		  right: -20px;
		  position: absolute;
		  top: 0px;
		  z-index: 100;
		}
	}

	.left-nav-text-container{
		@include make-xs-column( 12 );
		@include make-sm-column( 6 );
		@extend .text-left;
	}
}