<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>Using <%=purchasable.duration%> minute session credit from current package.</h3>
  </div>
</div>
<%= render "purchases/purchases_modal/default_stripe_token", f: f %>