
<div class="col-xs-8 col-xs-offset-2 text-center">

   <!-- DISCOUNT COST -->
  <div class="col-xs-12 form-group">
 
    <%= show_purchase_coupon_response(purchase, purchasable) %>

  </div>
   <!-- DISCOUNT CODE RESPONSE -->
  <div class="row form-group">
    <div class="col-xs-8 col-xs-offset-2 discount-response">
    </div>
  </div>

  <!--  DISCOUNT CODE BUTTONS -->
  <div class="col-xs-12 form-group">
    <div class="col-xs-8">
      <input type="text" class="form-control" id="coupon-field" placeholder="Enter discount code" name="coupon">
    </div>
    <div class="col-xs-2">
      <button id="coupon-button" class="btn btn-sm btn-link">APPLY DISCOUNT</button>
      <button id="remove-coupon-button" class="btn btn-link hidden">remove discount</button>
    </div>
  </div>

</div>
