<div id="home-screen-alert" class="col-xs-4 col-xs-offset-4 alert alert-danger">
	<%=link_to edit_dietitian_registration_path do %>
		<%= image_tag "placeholders/face.jpg"%>
		<span class="glyphicon glyphicon-user"></span> Add Your Profile Picture!
 	<% end %>
</div>