		<div id="provider-landing-page-nav" class="col-xs-12">	
			<div id="logo-container" class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-lg-offset-4 col-lg-4">
				<%= image_tag("landing_page/kindrdfood-logo.jpg", class: "img-responsive") %>
			</div>
		</div> 