    <div class="content-suggestions-container row">
      <% recent_posts.each do |post| %>
        <div class="thumbnail-container col-sm-6 col-md-4">
          <%= link_to post.full_url do  %>
            <div class="thumbnail">
              <img src="<%=post.content[/src=\"(.*)\"\sstyle=\"/,1]%>" alt="<%=post.title%>">
              <div class="caption">
                <h4><%=post.title%></h4>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>