    <section class="articles-side-bar" data-spy="affix" data-offset-top="200">
      <nav class="articles-nav">
        <h3>Popular Topics</h3>
        <ul>
          <% showcase_tags.each do |tag| %>
            <li><%=link_to "#{tag.name}", tag_url(tag), class: "btn btn-block btn-default" %> </li>
          <% end %>
        </ul>
        <p>Kindrdfood recipes and articles are created by a team of Registered Dietitians and Chefs to meet the needs of each Kindrdfood family.</p>
      </nav> 
      <aside class="call-to-action-container">
        <%= link_to "Talk to a Registered Dietitian", main_app.landing_pages_index_path, class: "btn btn-block btn-primary"%>
       <!--  <button class="btn btn-block btn-primary">Get Custom Recipes Now!</button> -->
      </aside>
    </section>