  <nav class="kf-landing-page-sub-navbar">
      <ul>
         <%= active_link_to landing_pages_why_kindrdfood_path, { :active => [['landing_pages'], ['landing_pages_new_about_us_page']], :class_active => 'active', :wrap_tag => :li} do %>
          About Us
        <% end %>
        <%= active_link_to landing_pages_why_kindrdfood_path, { :active => [['landing_pages'], ['landing_pages_new_leadership_page']], :class_active => 'active', :wrap_tag => :li} do %>
          Leadership
        <% end %>
        <%= active_link_to landing_pages_why_kindrdfood_path, { :active => [['landing_pages'], ['landing_pages_new_faq_page']], :class_active => 'active', :wrap_tag => :li} do %>
          FAQ
        <% end %>
        <%= active_link_to landing_pages_new_contact_us_page_path, { :active => [['landing_pages'], ['new_contact_us_page']], :class_active => 'active', :wrap_tag => :li} do %>
          Contact Us
        <% end %>
      </ul>
  </nav>
