<header class="left-nav-large col-xs-2 hidden-xs col-sm-2 ">
	<%= render "layouts/navbars/dietitian_nav_options" %>
</header>

<header class="left-nav-mini hidden-xs hidden-sm hidden-md hidden-lg ">
	<%= render "layouts/navbars/dietitian_nav_options" %>
</header>

<header class="col-xs-2 hidden-sm hidden-md hidden-lg left-nav-small">
	<div class="row navbar-default">
		<button type="button" class="navbar-toggle" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</header>
