<header class="col-xs-12 hidden-sm hidden-md hidden-lg mobile-menu-button">
	<div class="row navbar-default">
		<button type="button" class="navbar-toggle" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</header>
