<div class="row">
  <div class="col-xs-12">
    <h1>Edit Tag</h1>  
    <%= render '/monologue/admin/tags/form', tag: @tag %>  
    <%= link_to 'Delete', admin_tag_path(@tag), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
