footer {
		background-color: rgba(16, 40, 26, 1);
		padding: 20px;
	}

	footer h3 {
		color: rgba(84, 126, 83, 1);
	}
	footer ul {
		padding: 0px;
		list-style: none;
	}
	footer ul li, footer p {
		color: white;
	}

	footer p {
		text-align:center;
	}