<h3 class="text-center">Kindrdfood Dietitian Service Terms and Conditions</h3> 
<ol>
  <li>
    <h4>Agreement to Kindrdfood Terms of Use.</h4>
    <p>To purchase and use Registered Dietitian (“Kindrdfood Dietitian”) services (“Services”) you must be have an active Account with Kindrdfood, agreed to the Kindrdfood Terms of Use, and must be 18 years of age or greater. You must also agree to these Kindrdfood Dietitian Service Terms and Conditions (“Terms and Conditions”). You, receiving these Services, are a client (“Client”).</p>
  </li>
  <li>
    <h4>Right to Modify.</h4>
    <p>Kindrdfood reserves the right to modify these Terms and Conditions at any time, effective upon posting. Your use of these Services following such changes will be deemed to be an acceptance of any changes. You agree to review these Terms and Conditions each time you use these Services so that you may be aware of changes to these terms. </p>
  </li>
  <li>
    <h4>Fees and Purchase Terms.</h4>
    <p>You agree to pay all fees or charges to your Account in accordance the Kindrdfood Terms of Use.</p>
  </li>
  <li>
    <h4>Format of Kindrdfood Dietitian Services. </h4>
    <p>Kindrdfood Dietitian Services are offered in the form of interactive audio or video technology. A time segment when you speak with a Kindrdfood Dietitian, in real time, is considered a session (“Session”). A Session may be of different durations, but a specific Session’s duration is always specified when the Session is scheduled. Sessions may be purchased individually or in packages or as part of a premium membership.</p>
  </li>
  <li>
    <h4>Communication with Kindrdfood Dietitian.</h4>
    <p>Following any Session with a Kindrd Nutitionist, you will receive a follow up by email that captures the assessment and recommendations of the Kindrdfood Dietitian. This assessment and any recommendations made in this email or any other communication, in real time or by secondary communication including but not limited to voice mail, email, text, or written letter, are not a replacement for treatment or advice from your healthcare provider. You should check with your healthcare provider to assure that any changes to your lifestyle, nutrition or other eating habits are safe and healthy for you. After the Session follow up, Kindrdfood, nor any team member including but not limited to the Kindrdfood Dietitian, is under no obligation respond to questions or inquiries through any medium including but not limited to email, text, or telephone, and Kindrdfood reserves the right to discontinue communication with you at anytime. You should reserve questions for other purchased Sessions with a Kindrdfood Dietitian.</p>
  </li>
  <li>
    <h4>Payment Timeliness Policy. </h4>
    <p>Payment must be received prior to when the Services are performed. If you have not paid through Kindrdfood payment systems prior to 1 week of a scheduled appointment, Kindrdfood reserves the right to cancel your appointment. You shall be notified of the cancelation through email and also posted on the Website after you are signed into your Account (“Dashboard”). You will be considered notified whether you read the email or in your Account dashboard.</p>
  </li>
  <li>
    <h4>Cancellation and Rescheduling Policy.</h4>
    <p>Kindrdfood allows clients to reschedule their Sessions up to 12 hours in advance. If you reschedule a Session 3 times in succession without scheduling, starting and completing a Session in between, your Session will be forfeit and you must purchase a new Session in order to schedule again. Cancellation is the same format as a rescheduling. A session that has been individually paid for or has been paid for as part of a package of Sessions may be used within 1 year of purchase, after which, the Sessions will be forfeit. Sessions that are included in a premium membership are forfeit if not used in the specified calendar duration. For example, if a membership offers 1 Session per month, and a Session is scheduled for March 20th, but the Client decides to reschedule that Session and schedules the subsequent Session on April 5th, then the March Session is forfeit and the Client is using their allocated April Session, so that another Session cannot be scheduled in April unless separately purchased by the Client.</p>
  </li>
  <li>
    <h4>Late Arrival Policy.</h4>
    <p>When a Session is scheduled, a specific time is used for the start and end of that Session. The Session is considered to have begun regardless of whether the client is present at that time. Kindrdfood reserves the right to end a Session at the scheduled end time, regardless of whether the Client is in communication with their assigned Kindrdfood Dietitian or not, unless they have rescheduled through their Account Dashboard.</p>
  </li>
  <li>
    <h4>Technology Effectiveness Policy.</h4>
    <p>Kindrdfood is not responsible for the internet or data bandwidth and signal of the technology, including but not limited to personal computers, third party computers or mobile devices, that you use to connect to the internet. Kindrdfood offers access by telephone if necessary to accommodate for any interruptions that might occur as a result of technology. Use of telephone for a Session is considered a Session, even if use of the telephone is a result of disruption in video connection between you, the Client and the Kindrdfood Dietitian.</p>
  </li>
  <li>
    <h4>End of Session.</h4>
    <p>All Sessions will end at the scheduled time. This is an important policy for Kindrdfood because it assures that Kindrdfood Dietitians have the time as scheduled to promptly follow up to the Session with you and prepare for Sessions that are scheduled after yours. At the end of the Session, the technology system will terminate the connection after a very brief grace period.</p>
  </li>
  <li>
    <h4>Content.</h4>
    <p>None of the Website content (“Content”), including but not limited to text, audio, video and images, should not be considered medical advice or any endorsement, representation or warranty that any particular medication or treatment is safe, appropriate, or effective for you. Any emails that include Content or links to Content do not necessarily match the advice of your Kindrdfood Dietitian and are not medical advice and are not substitutes for advice from your healthcare provider. Content of all kinds are for informational purposes only. Any matching between content and you is based on your Profile and requires that the information that you upload or provide to Kindrdfood, to Kindrdfood Dietitians or through the Website are true, current, accurate and complete. If information in all forms that you have provided is true, current, accurate and complete, any content that is directed to you is not guaranteed to be safe and healthy for you. You should check with you healthcare provider before making any changes or responding to any advice offered.</p>
  </li>
  <li>
    <h4>Your Food Selection Responsibility.</h4>
    <p>You are responsible for assuring that food that you select to purchase, consume or offer to your family, children or guests is safe and otherwise healthy for you and any other people who might eat these foods. Advice and content, including but not limited to nutrition advice offered by a Kindrdfood Dietitian, articles, blogs, text, videos, emails, product recommendations, recipes, meal plans, and grocery lists, is for informational purposes only. You are responsible for checking ingredients, food sources manufacturing and preparation methods or equipment.</p>
  </li>
  <li>
    <h4>Kindrdfood Affiliations</h4>
    <p>Kindrdfood does not have any partnerships with food manufacturers or consumable product manufacturers including but not limited to nutritional supplements, nutritional formula, fresh foods or pantry foods. Advice offered through Kindrdfood Dietitians and Content originating from Kindrdfood or directed to you by Kindrdfood will not be adulterated by product marketing of food manufacturers or consumable product manufacturers. Kindrdfood puts considerable resources into and manages a rigorous training and quality assurance process to maintain advice and Content at is not altered based on affiliations or partnerships with Food manufacturers or consumable product manufacturers. Kindrdfood reserves the right to create partnerships as desired in the future in the best interest of the company as well as clients and users. Kindrdfood reserves the right to create and maintain other partnerships which do not directly impact the safety and health quality of food selection advice offered by Kindrdfood.</p>
  </li>
  <li>
    <h4>Nutrition Services.</h4>
    <p>Nutrition information, guidance and all other Services, offered by a Kindrdfood Dietitian, is not medical advice and should not be considered a substitute for medical advice or treatment advice. You should consult your medical provider before starting any new health or lifestyle regimen. Kindrdfood does not provide emergency services. If you have or suspect a medical emergency, please hang up or disconnect from any Kindrdfood website or telephone call and use your telephone to dial 911 and reach emergency services.</p>
  </li>
  <li>
    <h4>Use of the Services by Children.</h4>
    <p>Children under the age of 18 are not permitted to create an Account on the Website. Services from Kindrdfood are not available to children under the age of 18. Service offered to adults over the age of 18, may be offered with the presence of a child under the age of 18 providing the adult is the legal guardian for the child who is present for service offered to the adult. If you register on the Website and you are the parent or legal guardian of a child who is present for any services, you will be fully responsible for these terms of use and the use of information by yourself and the child.</p>
  </li>
  <li>
    <h4>Access Rights.</h4>
    <p>Services are nontransferable. Kindrdfood hereby grants to you a limited, non-exclusive, nontransferable right to access the Website and use the Services and information for your personal non-commercial use and only as permitted under these Terms of Use and any separate agreements you may have entered into with Kindrdfood (“Access Rights”). Kindrdfood reserves the right, in their sole discretion, to deny or suspend use of the Website or Services to anyone for any reason. You agree that you will not, and will not attempt to: (a) impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity; (b) use the Website or Services to violate any local, state, national or international law; (c) reverse engineer disassemble, decompile, or translate any software or other components of the Website or Services; (d) distribute viruses or other harmful computer code through the Website or (e) otherwise use the Website or Services in any manner that exceeds the scope of use granted above. In addition, you  agree to refrain from abusive language when communicating with any Kindrdfood Dietitian(s) through the Website and to refrain from contacting treating any Kindrdfood Dietitian(s) for Services outside of the Website. Kindrdfood is not responsible for any interactions with any Kindrdfood Dietitian(s) that are not conducted through the Website or are part of Services.</p>
  </li>
  <li>
    <h4>Profile and Other Account Information.</h4>
    <p>Your Account includes a Profile that is made of information uploaded by you or discussed directly with your Kindrdfood Dietitian. In addition to your Profile, Kindrdfood may use information that you supply through the Website to improve our services, products or other offerings and also to provide you with additional information about our products and services. We may use common internet technologies, such as “cookies”, to manage the information we receive from you. Kindrdfood will not share, sell or otherwise distribute any of your personally-identifiable information with third parties for their promotional or sales purposes. In the event that we provide a product or service to you, we may share certain information only with organizations who work with Kindrdfood in order to provide those services to you.</p>
  </li>
  <li>
    <h4>Medical Information.</h4>
    <p>This Website may contain general information relating to various medical conditions and nutrition. Such information is provided for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. The content relating to medical conditions and their treatment is not meant to be a substitute for advice provided by a doctor or other qualified healthcare professionals. IF YOU ARE EXPERIENCING A MEDICAL EMERGENCY, YOU SHOULD DIAL “911” IMMEDIATELY. Kindrdfood is not engaged in rendering medical or similar professional services or advice, and the information provided is not intended to replace medical advice offered by a physician. You should not use the information contained herein for diagnosing a health problem or disease. YOU SHOULD NOT CONSTRUE THIS CONTENT AS ANY WARRANTY OR RECOMMENDATION OF TREATMENT.</p>
  </li>
  <li>
    <h4>No Warranty.</h4>
    <p>Access to the Website and the information contained therein is provided “as is” and “as available” without any warranty of any kind, express or implied. Kindrdfood does not warrant the accuracy, completeness or timeliness of the materials on this Website and to the fullest extent permissible pursuant to applicable law, Kindrdfood disclaims all warranties of any kind, either express or implied, including but not limited to any implied warranties of title, merchantability, fitness for a particular purpose or non-infringement, with respect to any information obtained through the Website. Without limiting the foregoing, Kindrdfood does not warrant that access to the Website will be uninterrupted or error-free, or that defects if any will be corrected; nor does Kindrdfood make any representations about the accuracy, reliability, currency, quality, completeness, usefulness, performance, security, legality, or sustainability of the Website or any of the information contained therein. You expressly agree that your use of the Website and your reliance upon any of its contents is at your sole risk.</p>
  </li>
  <li>
    <h4>Limited Liability.</h4>
    <p>In the event of any problem with the Website or any of its content, you agree that your sole remedy is to cease using the Website. Under no circumstances shall Kindrdfood or any Kindrdfood licensor, licensee or supplier be liable in any way for your use of the Website or any of its content including, but not limited to, any errors or omissions in any content, any infringement by any content of the intellectual property rights or other rights of third parties, or for any losses or damages of any kind arising directly or indirectly out of the use, inability to use, or the results of use of the Website, and any Website linked to the Website, or the materials or information contained on any or all such Websites. Under no circumstances shall Kindrdfood, its licensors, licensees or suppliers or providers or Kindrdfood Dietitians be liable for any punitive, exemplary, consequential, incidental, indirect or special damages (including, without limitation, any personal injury, lost profits, business interruption, loss of programs or other data on your computer or otherwise) arising from or in connection with your use of the Website or Services, whether under a theory of breach of contract, negligence, strict liability, malpractice or otherwise, even if we or they have been advised of the possibility of such damages. You hereby release Kindrdfood and hold Kindrdfood its licensors and suppliers and providers and Kindrdfood Dietitians harmless from any and all claims, demands, and damages of every kind and nature (including, without limitation, actual, special, incidental and consequential), known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of any way connected with your use of the Website and/or Services. You waive the provisions of any state or local law limiting or prohibiting a general release.</p>
  </li>
  <li>
    <h4>Website Links.</h4>
    <p>Kindrdfood will not be liable for any information, software, or links found at any other Website, internet location, or source of information, nor for your use of such information, software or links, nor for the acts or omissions of any such Websites or their respective operators.</p>
  </li>
  <li>
    <h4>Indemnification.</h4>
    <p>You agree to indemnify, defend and hold harmless Kindrdfood, its officers, directors, employees, agents, subsidiaries, affiliates, licensors, and suppliers, harmless from and against any claim, actions, demands, liabilities and settlements, including without limitation reasonable legal and accounting fees (“Claims”), resulting from, or alleged to result from, your violation of these terms and conditions. In addition, you agree to indemnify, defend and hold harmless your Kindrdfood Dietitian(s) from and against any third party Claims resulting from your lack of adherence with the advice or recommendation(s) of such Kindrdfood Dietitian.</p>
  </li>
  <li>
    <h4>Geographical Restrictions.</h4>
    <p>Kindrdfood makes no representation that all products, services and/or material described on the Website, or the Services available through the Website, are appropriate or available for use in locations outside the United States or all territories within the United States.</p>
  </li>
  <li>
    <h4>Governing Law.</h4>
    <p>These Terms of Use and your use of the Website and Services shall be governed by the laws of the Commonwealth of Massachusetts without regard to its conflict of laws principles. Any legal action or proceeding related to this Website shall be brought exclusively in a federal or state court of competent jurisdiction sitting in Boston, Massachusetts.</p>
  </li>
  <li>
    <h4>Miscellaneous.</h4>
    <p>You understand that by checking the “agree” box for these Terms and Conditions and/or any other forms presented to you on the Site you are agreeing to these Terms and Conditions and also the Terms of Use and that such action constitutes a legal signature. You agree that we may send to you any privacy or other notices, disclosures, or communications regarding the Services (collectively, “Communications”) through electronic means including but not limited to: (a) by email, using the address that you provided to us during registration, or (b) by posting the Communications on the Website. The delivery of any Communications from us is effective when sent by us, regardless of whether you read the Communication when you receive it or whether you actually receive the delivery. You can withdraw your consent to receive Communications by email by canceling or discontinuing your use of the Website, Services, deactivating your Account and end your registration by sending an email to customer.service@kindrdfood.com. </br> No waiver by Kindrdfood of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Kindrdfood to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is held by a court of other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.</br>Kindrdfood is not responsible for the internet or data bandwidth and signal of the technology, including but not limited to personal computers, third party computers or mobile devices, that you use to connect to the internet.</br>Please report any violation of these Terms and Conditions to customer.service@kindrdfood.com.
    </p>
  </li>
</ol>