			<footer class="row">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1">
						<h3>Site</h3>
						<ul>
							<li>Dashboard</li>
							<li>Family</li>
							<li>Appointments</li>
							<li>Messages</li>
							<li>Settings</li>
							<li>Contact Us</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1">
						<h3>Company</h3>
						<ul>
							<li>About Kindrdfood</li>
							<li>Our Team</li>
							<li>FAQs</li>
							<li>Terms of Service</li>
							<li>Privacy Policy</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1">
						<div class="col-xs-12">
							<h3>Stay Connected</h3>
							<ul>
								<li>Facebook ICON</li>
								<li>Pinterest ICON</li>
							</ul>
						</div>	
						<div class="col-xs-12">
							<h3>Support</h3>
							<ul>
								<li>Technical Help</li>
								<li>Feedback</li>
						
							</ul>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>Copyright &copy; 2015 | Kindrdfood Inc.</p>
					</div>
				</div>
			</footer>