<div id="collapse-ingredient-<%=@ingredients_recipe.id%>" class="panel-collapse collapse">
  <div class="panel-body" id="ingredient-<%=@ingredients_recipe.id%>-accordion-bottom">
    <%= render "/recipes/edit_recipe_ingredient", :ingredient => @ingredients_recipe, :units => @units  %>
  </div>
</div>