<div id="ingredients-container">
  <div class="row text-center preview-info"> 
    <h3 class="active-preview-heading">Ingredients:</h3>
    <% @ingredients.each do | ingredient | %>
			<div class="col-xs-12">
        <h4 class="ingredient-preview"><%=ingredient.amount%> <%=ingredient.amount_unit%> <%= ingredient.display_name%> <span class="main-tag">(main ingredient)</span>
        </h4>
      </div>
      <div class="col-xs-12">
	     	<h5>
	    		<%= ingredient.ingredient.name %>
	    	</h5>
	    </div>
    <% end %>
  </div>
</div>