
<a data-toggle="collapse" id="ingredient-<%=@ingredients_recipe.id%>-accordion-top" data-parent="#accordion" class="ingredient-collapse" href="#collapse-ingredient-<%=@ingredients_recipe.id%>">
<%= render "/recipes/show_recipe_ingredient", :ingredient => @ingredients_recipe %>
</a>
