<%= link_to "New Ingredients Recipe", new_ingredients_recipe_path(recipe_id: @recipe_id), id: "add-ingredients-recipe", remote: true %>

<div  id="ingredient-form-container">
</div>


<div id="ingredients-container">
</div>