
<div class="form-group" id="allergens-ingredient-form">
  <%= simple_form_for @allergens_ingredient, remote: true  do |allergens_ingredient_form| %>


    <div class="actions">
      <%= allergens_ingredient_form.button :submit %>
    </div>
  <% end %>
</div>

