<%= simple_form_for(@prem_subs) do |f| %>
  <%= f.error_notification %>

  <h1>Premium Access Includes</h1>
  <div class="form-inputs">
  <p>stuff</p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Upgrade" %>
  </div>
<% end %>
