#provider-landing-page-nav{
	background-color: $white;
  z-index: 10000000;
}

.provider-landing-page {
	.basil-background{
  		background-image: url("landing_page/basil.png");
  		background-size: cover;
  		background-repeat: no-repeat;
  		height: 100%;
 	}
	.meal-background{
  		background-image: url("landing_page/meal_prep.png");
  		background-size: cover;
  		background-repeat: no-repeat;
  		height: 100%;
 	}
 	p.arrow-nav-down {
 		font-size: 20px;
  	margin-top: -1%;
	}
 	p span.glyphicon-chevron-down {
  	font-size: 40px;
	}
	.arrow-nav-down{
		position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -100px;
	}
	.section-header-title {
		background-color: $lightgreen;
  	color: $white;
  	padding: 40px;
		min-height: 100px;
  	text-align: center;
	}
	.section-header-title.orange{
		background-color: $carrotorange;
	}
	.tara-headshot{
		max-height: 300px;
		margin: 30px auto;
	}
	.help-tagline {
		margin-top: 50%;
	}
	.white-faded {
		  border-radius: 15px;
		  background-color: rgba(255,255,255,0.5);
	}
	.meal-background{
		.white-faded {
			position: relative;
		  top: 10%;
		}
	}
	.basil-background{
		.white-faded {
			position: relative;
		  top: 2%;
		}
	}
	.section-list{
		margin-top: 15%;
	}
	.transparent {
		// display: none;
	}
}