.breadcrumb-sign-out {
  a:first-child{
    float: left;
  }
  a:last-child {
    float:right;
  }
}

.breadcrumb-sign-out + img {
  clear: both;
}

#welcome-breadcrumb{

  /** The arrows **/
  .btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
  }
  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }
  // Arrow coloring for btn-warning buttons
  .btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
  }
  .btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
  }

  /** The Spacing **/
  .btn-breadcrumb .btn {
    padding:6px 14px 6px 14px;
  }
  .btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
  }
  .btn-breadcrumb .btn:last-child {
    padding:6px 14px 6px 14px;
  }



  // Disabled buttons
  .btn-breadcrumb .btn.btn-warning[disabled]:not(:last-child):after, 
  .btn-breadcrumb .btn.btn-warning.disabled:not(:last-child):after,
  .btn-breadcrumb .btn.btn-warning[disabled]:not(:last-child):before,
  .btn-breadcrumb .btn.btn-warning.disabled:not(:last-child):before {
    border-color: transparent;
  }

  // Selected button
  .btn-breadcrumb .btn.btn-warning.selected{
    color: $brand-light-green;
    font-weight: bold;
  }

  // Arrows on hover
  .btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
  }
  .btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
  }


}

#welcome-breadcrumb-small{
  font-size: 10px;
}