
#contactUsModal img {
    height: 50px;
}

// LOGGED IN NAVIGATION STYLE

#welcome-page, #family-page, #session-page, #in-session {

	#sidebar-nav{
    clear: both;
    padding: 0px;
    @include make-sm-column( 2 );
	}
	// left navigation
	.sidebar-offcanvas{
		@extend .hidden-xs;
		
		
	}
	.sidebar-offcanvas-mini{
		@include make-sm-column( 2 );
	}
	// navigation logo
	header img.img-logo {
		min-height: 50px;
	  min-width: 60px;
	  margin: 0 auto;

	}

	// float button left
	.mobile-menu-button button {
		float: left;
	}
	// override bootstrap hover effect
	.mobile-menu-button:hover button{
		background-color: transparent;
	}
	.mobile-menu-button:hover .navbar-default .navbar-toggle .icon-bar{
		background-color: $brand-carrot-green;
	}
	main {
		-webkit-box-shadow: 0px 0px 8px 2px #999999;
		-moz-box-shadow: 0px 0px 8px 2px #999999;
		box-shadow: 0px 0px 8px 2px #999999;
		behavior: url($pie-path);
		background-color: white;
		min-height: 100%;
	}


	main.col-xs-10 {
		padding: 40px;
	}

	main .jumbotron {
		background-image: image-url("food/tomatoes-dashboard.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  position: relative;
	  min-height: 450px;
	  text-align: center;
	  background-color: $brand-white;
	  color: $brand-white;
	  span.glyphicon.glyphicon-time, span.glyphicon.glyphicon-heart, span.glyphicon-exclamation-sign{
	  	font-size: 40px;
	  	margin-bottom: 10px;
		}
	}

	main .jumbotron button, 	main .jumbotron a, .sessions button {
		max-width: 200px;
		padding: 12px;
	}

	main .jumbotron button .glyphicon, 	main .jumbotron a .glyphicon, .sessions button .glyphicon {
		font-size: 40px;
		float: left;
	}

	main .jumbotron button p, main .jumbotron a p, .sessions button p {
	  margin-bottom: 0;
	  font-size: 15px;
	  text-align: left;
	}

	main .jumbotron .session-action{
	  padding: 20px;
	  border: 5px solid white;
	  background-color: rgba(255,255,255,0.6);
	}


	.opp h2 {
	  background: rgba(255, 255, 255, 0.75);
	  color: black;
	}

	.content-container{
		width: 100%;
		margin-top: 40px;

	}
	.content-container:after{
	  clear: both;
	  display: table;
	  content: " ";
	}

	.content-container h3 {
		color: $brand-carrot-green;
	}

	.content-container h3 .glyphicon{
		margin-right: 10px;

	}


	.session {
		margin:20px;
		padding:5px;
		border-top: 2px solid rgba(240, 240, 240, 1);
		border-bottom: 2px solid rgba(240, 240, 240, 1);
		text-align: center;
	}

}