
#set-appointment-page{
	.modal-dialog{
	  width: 80%;
	}
  @media (max-width: $screen-xs-max)  {
	  .modal-dialog {
	    width: 94%;
	    margin: 3% auto;
  	}
  }

	.loading-spinner{
	  position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1000;
    display:none;
  }



}