
#set-appointment-page{
	.modal-dialog{
	  width: 80%;
	}
  @media (max-width: $screen-xs-max)  {
	  .modal-dialog {
	    width: 94%;
	    margin: 3% auto;
  	}
  }

	.loading-spinner{
	  position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1000;
    display:none;
  }


}

#paymentModalLabel .img-responsive {
  max-height: 50px;
}

#paymentModal div.alert-warning p {
  line-height: 2;
  font-size: 18px;
}

input#card_number {
  background: url("icons/credit_card_default.png") 98% 50% no-repeat;
  background-size: 25px 19px;
}

.credit-card-images {
  height: 21px;
  margin-bottom: 2%;
  margin-left: 3%;
}