<div id="client-prep-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Appointment Prep</p></h2>
      </div>
      <div class="modal-body">

         <%= render "/appointments/appointment_prep/survey_form", surveyable: @appointment, survey: @client_prep[:survey] %>
         <%= render "/growth_entries/form", growth_chart: @client_prep[:growth_chart], growth_entry: @client_prep[:growth_entry] %>
         <%= render "/food_diary_entries/form", food_diary: @client_prep[:food_diary], food_diary_entry: @client_prep[:food_diary_entry] %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->