<div id="rescheduleModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Need to reschedule?</h4>
      </div>
      <div class="modal-body">
        <p>If you need to reschedule or cancel you appointment, please email us at <a href="mailto:customer.service@kindrdfood.com?Subject=Reschedule/Cancellation" target="_top">customer.service@kindrdfood.com</a> or if you would prefer, call us at <a href="tel:6175752203;ext=1">617-575-2203 ext. 1</a></p>
      </div>
      <div class="modal-footer">
        <p>Thank you!</p>
      </div>
    </div>
  </div>
</div>