.error {
	margin: 1%;
	padding: 1%;
	border: 1px solid $white;
	border-radius: 5px;
	behavior: url($pie-path);
	background-color: $lightorange;
	color: $white;
}

.error input[type="password"] {
	background-color: $lightorange;
	color: $white;
}