#family-member-health-intro{
	margin-top: 25px;
}

#prep-appointment-family-list .family-member{
	float: left;
	margin: 2%;
}

#growth-info-container{
	input {
		display: block; 
		padding: 0;
		padding-left:43%; 
		margin: 0; 
		border: 0; 
		width: 100%;
	}
	td {
		margin: 0; 
		padding: 4%;
	}
}

#appointmentPrepModal, #appointmentReviewModal {
	p {
		color: black;
		font-size: 20px;
		padding: 2%;
	}
	.question-response-answer{
		font-size: 15px;
	}
}

