#dashboard-container div:first-child {
	margin-top: 20px;
}

#appointment-update-container{
	margin-top: 50px;
}

.tilt {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.tilt:hover {
  -webkit-transform: scale(1.1) rotate(7deg); /* Opera, Chrome, and Safari */
  -ms-transform: scale(1.1) rotate(7deg); /* IE 9 */
  transform: scale(1.1) rotate(7deg);

}

#dietitian-recipes-container {
  margin-top: 150px;
}

#dietitian-recipes-index-container .review-recipes {
  height: 375px;
  background-color: lightgrey;
  margin: 25px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#dietitian-recipes-index-container .recipe-mini-view {
  background-color: white;
  border-radius: 5px;
  height: 300px;
  margin: 15px;
  text-align: left;
  float: none;
  display: inline-block;
  margin-top: 40px;
};

#admin-assign-container{
  background-color: $lightorange;
}

#currently-in-review-container .dashboard-heading, #all-dieitians-dashboard-container .dashboard-heading{
  color: $lightorange;
  margin-left: 2%;
}