// #dashboard-container div:first-child {
// 	margin-top: 20px;
// }

#appointment-update-container, #appointment-health-groups-container{
  padding-left: 5%;
  max-height: 350px;
}

#appointment-update-container{
  .dashbord-list-top{
    margin-top: 10px;
  }
  .dashboard-list-bottom{
    padding-bottom: 10px;
    border-bottom: 2px solid $lightorange;
  }
}


.tilt {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.tilt:hover {
  -webkit-transform: scale(1.1) rotate(7deg); /* Opera, Chrome, and Safari */
  -ms-transform: scale(1.1) rotate(7deg); /* IE 9 */
  transform: scale(1.1) rotate(7deg);

}

#dietitian-recipes-container {
  margin-top: 150px;
}

#dietitian-recipes-index-container .review-recipes {
  height: 375px;
  background-color: lightgrey;
  margin: 25px;
  border-radius: 5px;
  behavior: url($pie-path);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.recipe-mini-view {
  background-color: white;
  border-radius: 5px;
  behavior: url($pie-path);
  height: 300px;
  margin: 15px;
  text-align: left;
  float: none;
  display: inline-block;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;

};

#admin-assign-container{
  background-color: $lightorange;
}

#currently-in-review-container .dashboard-heading, #all-dieitians-dashboard-container .dashboard-heading{
  color: $lightorange;
  margin-left: 2%;
}

#dash-main{
  padding-left: 5%;
  padding-right: 5%;
}

//// APPOINTMENT PREP /////

#appointmentPrepModal, #appointmentReviewModal{
  width: 100%;
  .modal-title img {
    height: 50px;
  }
  .modal-content{
    height: 100%;
  }
}

///// UPCOMING APPOINTMENT LIST ///////

.empty-list-container{ 
  height: 65px;
  line-height: 60px;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: $lightorange;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
}