
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 410px;
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: $carrotgreen;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: $lightorange;
}

/* Site Wrapper - Everything that isn't navigation */
#site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
  background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 150px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

// Hide toolbox to start //
#tool-box-container{
	display: none;
  min-height: 300px;
}

/* Make the Magic Happen */
.nav-trigger + label, #site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ #site-wrap {
  left: 225px;
}

.nav-trigger:checked ~ #site-wrap #left-user-tabs{
  display: none;
}

.nav-trigger:checked ~ #site-wrap #right-user-tabs{
  display: none;	
}

.nav-trigger:checked ~ #site-wrap #chat-container{
  display: none;  
}

.nav-trigger:checked ~ #site-wrap #layoutContainer{
	width: 200px;
	height: 200px;	
  position: fixed;
  top: 150px;
  left: 80%;
}

.nav-trigger:checked ~ #site-wrap #tool-box-container{
	display: inline-block;	
}

/// appointment prep family info //
#site-wrap #new-user-family-form {
	margin-top: 0px;
  margin-left: 0px;
}

#site-wrap #new-user-family-form > :first-child {
  position: relative;
}

#site-wrap .selected-family-member.btn.btn-white{ 
  color: $white;
  background-color: $lightorange;
  border-color: $lightorange;
}

#site-wrap .selected-family-member.btn.btn-white:hover{ 
  color: $white;
  background-color: $lightorange;
  border-color: $lightorange;
}

#site-wrap .btn.btn-white{ 
  color: $white;
  background-color: $carrotgreen;
  border-color: $carrotgreen;
}
#site-wrap .btn.btn-white:hover{ 
  color: $white;
  background-color: $lightorange;
  border-color: $lightorange;
}


#site-wrap #family-member-pages-tabs {
  div{
    padding: 2%;
    font-size: 20px;
  }
  div.active-tab{
    border-bottom: thick solid green;
  }
}

#tool-notes-container{
  padding-bottom: 50px;
}

#end-session-button{
  margin-top: 25px;
}
#wrapper {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
  overflow: hidden;
}

// follow up 
.panel-body #new-user-family-form {
  margin-top: 0px;
}


/////// NExt Appointment

#next-session-container {
    margin-bottom: 50px;
}

