#familyModal, #appointmentPrepModal, #appointmentReviewModal {
	.modal-content{
		margin-top: 0;
		overflow: scroll;
	}
	.modal-header {
		border-bottom: none;
	}
	#new-user-family-form {
		margin-top: 0px;
	}
	.modal-footer {
		border-top: none;
	}
	#family-member-pages-tabs {
		div{
			padding: 2%;
			font-size: 20px;
		}
		div.active-tab{
			border-bottom: thick solid green;
		}
	}
	.question-container {
		padding-left: 5%;
		padding-right: 5%;
	}
}
#pre-apt-survey-intro-container{
	padding: 30px 10px 10px 10px;
	text-align: center;
}
.question-response-answer{
	background-color: white;
	color: $lightorange;
	padding: 10px;
	border-radius: 5px;
}