.light-gray-font {
	color: lighten($gray, 30%);
}

.white-font {
	color: white;
}

.light-orange-font{
	color: $lightorange;
}

.large-green-font{
	font-size: 28px;
	color: $darkgreen;
}

.small-font {
   font-size: 12px;
}

.light-green-font {
	color: $lightgreen;
}

.dark-green-font {
	color: $carrotgreen;
}

.dashboard-heading{
	font-size: 50px;
	text-shadow: 0px 1px 1px orange;
	color: white;
}