
// CSS on other pages
//
// _navbar.scss
//.large-image{
// 	-webkit-transform: scale(1.6);
//   -ms-transform: scale(1.6);
//   transform: scale(1.6);
// }
#new-ingredient-form{
	padding: 30px 0px 0 20px;
}

// #new-ingredient-form .glyphicon-plus-sign{
// 	position: relative;
// 	right: -120%;
// 	top: -22px;
// }

// #new-ingredient-form .add-button-div{
// 	position: relative;
// }

//similar to _recipe_essentials_preview.scss
.active-preview-heading{
	text-align: left;
	margin-left: 20px;
	color: $black;
}

.ingredient-preview{
	text-align: left;
	margin-left: 25px;
}

.ingredient-radio-label{ 
  font-size: 12px;
}

#ingredient-radio-list li{
	margin-left: 5%;
}

.optional-tag{
	font-size: 12px;
	color: $lightorange;
}

.main-tag{
	font-size: 12px;
	color: $lightgreen;
}

.edit_ingredients_recipe{
	padding-left: 20px;
}

#ingredient-sortable li:hover, #ingredient-sortable li:active, #ingredient-sortable li:focus{
	cursor:move;
}