#new-steps-form .checkbox label{
	margin-right: 10px;
}

#steps-container .main-tag {
	margin-left: 50px;
}

#steps-container .step-group{
	text-decoration: underline;
}

#sortable li {
	border-bottom: solid 1px $gray;
	word-wrap: break-word;

}


.ingredient-in-step{
	border: 1px solid $darkgreen;
	color: $darkgreen;
	float: left;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

.ingredients-in-step-container{
	margin-bottom: 10px;
	margin-left: 15px;
}

#sortable li:hover, #sortable li:active, #sortable li:focus{
	cursor:move;
}