.bs-wizard {
	margin-top: 30px;
		//  media query to make not fixed on ssmaller screens and fixed on large
	z-index: 200;
	background-color: white;
	padding: 25px;
}
.modal-body .bs-wizard{
	margin-top: 0px;
	padding: 25px 0px 0px 0px;
}

/*Form Wizard*/
// .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: $lightgray; font-size: 25px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum {color: $carrotgreen}
.bs-wizard > .bs-wizard-step.complete .bs-wizard-stepnum {color: $carrotgreen}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 20px;}
.bs-wizard > .bs-wizard-step.active .bs-wizard-info {color: $lightorange;}
.bs-wizard > .bs-wizard-step.complete .bs-wizard-info {color: #999;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: $lightgreen; top: 45px; left: 50%; margin-top: 0px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: $lightgreen;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


//// INTRO MODAL 
#introModal .intro-paragraph, #nutritionIntroModal .intro-paragraph{
	line-height: 150%;
}


#new-user-name-form{
	text-align:left;
	margin-top: 150px;

	//  media query to make not fixed on ssmaller screens and fixed on large
}

#select-time-container > :first-child,{
	margin-top: 25px;
}

	// make media query to make not fixed on ssmaller screens and fixed on large
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	#new-user-name-form{
		position: relative;
	}
	// #new-appt-form{
	#select-time-container > :first-child{
		margin-top: 60px;
	}
	.bs-wizard {
		position: fixed;
		margin-bottom: -400px;
		margin-top: -40px;
	}
	.modal-body .bs-wizard{
		position: relative;
		margin-bottom: 0px;
	}         
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	#new-user-name-form{
		position: relative;
	}
	.bs-wizard {
		position: fixed;
		margin-bottom: -400px;
		margin-top: -40px;
	}
	.modal-body .bs-wizard{
		position: relative;
		margin-bottom: 0px;
	}      
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#new-user-name-form{
		position: relative;
	}
	.bs-wizard {
		position: fixed;
		border-bottom: 0;
		margin-top: -40px;
	}
	.modal-body .bs-wizard{
		position: relative;
		margin-bottom: 0px;
	}   
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#new-user-name-form{
		position: relative;
		margin-bottom: 0px;
	}
	.bs-wizard {
		position: fixed;
		border-bottom: 0;
		margin-top: -40px;
	}
	.modal-body .bs-wizard{
		position: relative;
		margin-bottom: 0px;
	}   
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#new-user-name-form{
		position: fixed;
	}
	.bs-wizard {
		position: fixed;
		border-bottom: 0;
		margin-top: -40px;
	}
	.modal-body .bs-wizard{
		position: relative;
		margin-bottom: 0px;
	}   
}

#new-user-name-form.modal-backdrop {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,0.8);
}

#new-user-name-form input[type="text"]  {
	font-size: 20px;
	height: 40px;
	padding-left: 2%;
	width: 100%;
}

#new-user-name-form input[type="submit"].btn-block, #new-user-name-form input[type="reset"].btn-block, #new-user-name-form input[type="button"].btn-block {
	width: 100%;
	height: 50px;
}

#new-user-name-form h3{
	line-height: 2;
}

#new-user-name-form input[type="submit"].btn-lg, #new-user-name-form input[type="reset"].btn-lg, #new-user-name-form input[type="button"].btn-lg {
	height: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#new-user-name-form input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:100%;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#new-user-name-form input[type='checkbox']:checked {
    background: $lightorange;
    border:2px solid $lightorange;
}

#new-user-family-form {
	margin-top: 150px;
}


#apptRequestModalLabel img {
	height: 50px;
}

#new-user-family-form .glyphicon-floppy-save{
	font-size: 30px;
	line-height: 2.4;
}

#new-user-family-form .nav-tabs li {
	padding-left: 0px;
	padding-right: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form a {
	color: $darkgreen;
	text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form a:hover {
	color: $lightorange;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form a:active{
	color: $lightorange;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form a:visited{
	color: $darkgreen;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form .complete-family-container a {
	color: $white;
	height: 50px;
	font-size: 30px;
	color: white;
	line-height: 1.25;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



#new-user-family-form .complete-family-container a:visited {
	color: $white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#new-user-family-form .nav-tabs {
  border-bottom: none;
  text-align: center;
  margin-bottom: 3%;
	background-color: $white;
  // padding-bottom: 2%;
}

#new-user-family-form .nav-tabs > li > a:hover, #new-user-family-form .nav-tabs > li > a:focus {
	border-color: transparent;
	text-decoration: inherit;
	background-color: inherit;
	margin-top: 5%;
	border-bottom: 5px solid $carrotorange;
}

#new-user-family-form .nav-tabs > li.active > a, #new-user-family-form .nav-tabs > li.active > a:hover, #new-user-family-form .nav-tabs > li.active > a:focus {
	color: $lightorange;
	background-color: transparent;
	border: transparent;
	border-bottom-color: transparent;
	cursor: default;
	margin-top: 0px;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#new-user-family-form #bottom-button-container{
	background-color: white;
	padding: 1% 0;
	p {
		margin-top: 2%;
	}
}

#new-user-family-form #new-user-options{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	// margin-top: 50px;
}

#new-user-family-form .tab-pane > div{
padding-bottom: 0%;
padding-left: 5%;
padding-right: 5%;
}

#new-user-family-form .tab-pane > div:first-of-type{
		padding-top: 5%;
}

#new-user-family-form .radio {
	margin-top: 0px;
}
#new-user-family-form .first-name{
	color: $lightorange;
}

#new-user-family-form {
	span.glyphicon {
		font-size: 50px;
	}
	.complete-family-container{
		margin-top: 2%;
	}
	.add-person-container{
		padding: 0px;
		margin-top: 8%;
	}
}

#new-user-family-form #family-member-list .add-person-container {
	div:first-child{
		margin-top: 10%;
	}
	.complete-family-container{
		text-align: center;
		margin-top: 5%;
	}
}

#new-user-options input[type="text"]:not(.form-control):not(.form-control-6):not(.form-control-4)  {
	font-size: 20px;
	height: 40px;
	width: 100%;
	margin-top: 7%;
	padding-left: 5%;
}

// just to override the above
// width is overriden by !important on width of form-control-4
#new-user-options input[type="text"]#new-health-group-field {
	font-size: 14px;
	height: 34px;
	margin-top: 0;
}

#new-user-options input[type="text"]#family-role-field{
	font-size: 14px;
	height: 34px;
	margin-top: 0px;
}

#new-user-options input[type="number"]  {
	width: 100%;
}

#new-user-options .select-allergen-box{
	margin:0;
	font-size: 12px;
}

#new-user-options hr.health-group-break-point{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid $white;
}

#new-user-family-form #top-container {
	background-color: white;
	padding: 1% 0;
	#preferences-title {
		padding-right: 0px;
	}
	// #preferences-first-name {
	// 	padding-left: 0px;
	// }
}

#height-attributes, #weight-attributes {
	padding-left: 0px;
}

#height-attributes div, #weight-attributes div {
	padding-right: 0px;
}

#family-member-list .btn-sm, #family-member-list .btn-group-sm > .btn {
	margin: 1%;
}

#family-member-list .btn-sm.btn-danger{
	cursor: default;
}


#family-member-list .family-member{
	padding: 1% 1% 1% 5%;
	border-radius: 5px;
	margin-top: 1%;
	border: 2px solid $lightorange;
}

#family-member-list .family-member.selected-family-member {
	background-color: $lightorange;
	color: white;
	border: none;
}

.btn.btn-white{ 
	color: $white;
	background-color: $carrotgreen;
	border-color: $carrotgreen;
}
.btn.btn-white:hover{ 
	color: $white;
	background-color: $lightorange;
	border-color: $lightorange;
}

.btn.btn-white-orange{ 
	color: $carrotorange;
	background-color: $white;
	border-color: $lightorange;
}
.btn.btn-white-orange:hover{ 
	cursor: default;
}

.selected-family-member .btn.btn-white{ 
	color: $carrotgreen;
	background-color: $white;
	border-color: $white;
}
.selected-family-member .btn.btn-white:hover{ 
	color: $white;
	background-color: $lightgreen;
	border-color: $lightgreen;
}

#add-group-to-list-container{
	margin-top:2%;
	button{
		margin-left: 1%;
	}
}
////// SELECT APPONTMENT TIME AN CREDIT CARD //////

#select-time-container{
	margin-top: 100px;
}

#appointment-request-list{
	margin-top: 1%;
}

#select-time-message-container {
	margin-top: 1%;
	border: none;
	color: green;
	margin-left: 4%;
}

input#card_number {
  background: url('icons/credit_card_default.png') 98% 50% no-repeat;
  background-size: 25px 19px;
}

.credit-card-images {
	height: 21px;
	margin-bottom: 2%;
	margin-left: 3%;
}

#btn-purchase-appt{
	height: 60px;
	font-size: 30px;
}

#paymentModalLabel {
	.img-responsive{
		max-height: 50px;
	}
}

#paymentModal {
	div.alert-warning { 
		p {
			line-height: 2;
			font-size: 18px;
		}
	} 
}