#nutrition-groups-form, #marketing-info-form {
	margin-top: 50px;
}

#nutrition-groups-form li{
	list-style-type: none;
}

#recipe-categories-container li, #categories-container li, {
	list-style-type: none;
	padding: 10px;
}

#categories-container img {
	padding-top: 20px;
}