#groups-container{
	margin-top: 50px;
}

.health-group-list-item{
	background-color: lighten($lightgreen, 30%);
	border-radius: 5px;
	text-align: center;
	border: 1px solid $carrotgreen;
	color: black;
	margin: 2px;
}

.category-list-item{
	background-color: white;
	border-radius: 5px;
	text-align: center;
	border: 1px solid black;
	margin: 2px;
}