

#recipe-breadcrumb{
	margin-top: 150px;
	height: 50px;
	margin-bottom: 0px;
	background-color: $white;
}

#recipe-breadcrumb h2 {
	color: $carrotgreen;
	margin-top: 6px;
}

// #recipe-breadcrumb .navbar-nav > li > a {
// 	color: $gray;

// }

#recipe-breadcrumb .navbar-nav > li > a:hover, #recipe-breadcrumb .navbar-nav > li > a:focus {
	color: $carrotgreen;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


#recipe-breadcrumb .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 35px;
}