

#recipe-breadcrumb{
	margin-top: 150px;
	height: 50px;
	margin-bottom: 0px;
	background-color: $white;
}

#recipe-breadcrumb h2 {
	color: $carrotgreen;
	margin-top: 6px;
}

#recipe-breadcrumb .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, #recipe-breadcrumb .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #555555;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: transparent;
color: #555555;
}


#recipe-breadcrumb .navbar-nav > li > a:hover, #recipe-breadcrumb .navbar-nav > li > a:focus {
	color: $carrotgreen;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#recipe-breadcrumb .navbar-nav > li.disabled > a:hover, #recipe-breadcrumb .navbar-nav > li.disabled > a:focus {
	color: $carrotgreen;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#recipe-breadcrumb .navbar-nav > li.disabled > a:hover, #recipe-breadcrumb .navbar-nav > li.disabled > a:focus {
	color: #cccccc;
}

#recipe-breadcrumb .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #262626;
	// background-color: whitesmoke;
	background-color: lighten($lightorange, 10%);
}

#recipe-breadcrumb .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 3px;
	line-height: 35px;
}

#recipe-breadcrumb a.disabled, #recipe-breadcrumb a[disabled] {
	pointer-events: auto;
  cursor: default;
}
