#basic-info-form, .basic-info-form {
	padding: 10px 20px 0 20px;
	width: 400px;
	margin-left: 20%;
}

#basic-info-form .form-group, .basic-info-form .form-group{
	margin-bottom: 35px;
}

#basic-info-form .slider, .basic-info-form .slider{
	margin-top: 15px;
}
#basic-info-form .ui-state-default, .basic-info-form .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	// border-image-source: initial;
	// border-image-slice: initial;
	// border-image-width: initial;
	// border-image-outset: initial;
	// border-image-repeat: initial;
	// background: url("../../images/logo.jpg") 50% 50% repeat-x rgb(246, 246, 246);
	background: url("add_recipe_images/kindrd-carrot-small.png") 48% 60%;
	background-repeat: no-repeat;
	font-weight: bold;
	color: rgb(0, 147, 68);
}

#basic-info-form .ui-slider .ui-slider-handle, .basic-info-form .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 22px;
	height: 38px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

#basic-info-form .ui-slider-horizontal .ui-slider-handle, .basic-info-form .ui-slider-horizontal .ui-slider-handle {
	margin-left: -15px;
	top: -20px;
}

#basic-info-form h3 {
	margin-left: -50px;
}
// .ui-menu-item-header{
// 	background-color: red;
// }
// #basic-info-form .ui-slider-horizontal .ui-slider-handle {
// top: 1em;
// margin-left: .5em;
// }