
#appointment-update-container{
	span {
		color: $carrotgreen;
		font-size: 2em;
	}
}

#upcoming-appointment-container{
	p{
		font-size:30px;
	}
	.completed-list-item{
		text-decoration: line-through;
		color: $carrotgreen;
	}
	li {
		font-size: 20px;
		line-height: 50px;
		color: $lightorange;
	}
}

#appointment-goals-header{
	color: $carrotgreen;
}