<%= simple_form_for(@food_diary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: family_member.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Food Diary", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

