<!-- Modal -->
<div class="modal fade" id="specialtiesModal" tabindex="-1" role="dialog" aria-labelledby="specialtiesModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="specialtiesModalLabel">Kindrdfood Specialties</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Kindrdfood Dietitians cover nutrition for many medical conditions</h4>
            <p> (example list only - we support than those listed)</p>
            <div>
              <ul>
                <li>IBS & Constipation</li>
                <li>Crohn's Disease</li>
                <li>Ulcerative Colitis</li>
                <li>Weight Management</li>
                <li>Disordered Eating</li>
                <li>Type 1 Diabetes</li>
                <li>Type 2 Diabetes</li>
                <li>Cystic Fibrosis</li>
              </ul>
              <ul>
                <li>Food Allergies</li> 
                <li>Intolerances</li>
                <li>Celiac Disease</li>
                <li>Allergic Colitis</li>
                <li>EOE</li>
                <li>FPIES</li>
                <li>CSID</li>
                <li>Special Needs Nutrition</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12">
            <h4>Across All Conditions</h4>
            <div>
              <ul>
                <li>Pick eaters</li>
                <li>Starting a new diet</li>
                <li>Elimination diets</li>
                <li>Healthy meal planning</li>
                <li>Family habit change</li>
                <li>Shopping & cooking</li>
                <li>Adding variety</li>
                <li>Managing costs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">SEE CLIENT SUCCESS STORIES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>