// same as welcome.css.scss

html, body{
	height: 100%;
  min-height:100%;
}

body{
	// need this green as a variable
	border-left: 10px solid rgba(61, 145, 58, 0.5);
	padding-top: 10px;
	padding-right: 10px;
}