// Place all the styles related to the GrowthCharts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
	div:first-child{
		height: 100%;
	}
}