
<div class="modal fade" id="apptRequestModal" tabindex="-1" role="dialog" aria-labelledby="apptRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="apptRequestModalLabel"><%=image_tag "/assets/nav_images/logo.png", class: "img-responsive" %></h4>
      </div>
   
      <div class="modal-body col-xs-12">
        <div class="col-x-12 text-center">
          <h4>We'd like to try our best to work around your busy schedule.</h4>
          <h4>Please email us with your scheduling needs: </h4>
          <h4> <a href="mailto:customer.service@kindrdfood.com?Subject=Scheduling" target="_top">customer.service@kindrdfood.com</a> </h4>
          <h4>If you would prefer, call us at:</h4> 
          <h4><a href="tel:6175752203;ext=1">617-575-2203 ext. 1</a>.</h4>  
          <h4>We look forward to hearing from you!</h4>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
        </div>
      </div>

    </div>
  </div>
</div>