
<% if @appointment.status === 'Complete'%>

		Kindrdfood.ajaxSpecific.ajaxUpdateUrl.showPagePartial("<%= j render(:partial => '/surveys/form', :locals => { :survey=> @survey, :surveyable => @appointment, remote_boolean: false, survey_group: @survey_group}) %>");

<% else %>
	$("#videobox2").append("<h3 class='text-center' id='video-placeholder'>Oops, be right back!</h3>");
<% end %>
