
<p>Eat Easier. Eat happier.</p> 

<p>Welcome <%=resource.first_name%>!</p>

<p>You’ve been referred to Kindrdfood by your physician!</p>

<p>To learn more or schedule your 1st appointment, please click on this link:</p>
<p><%= link_to 'SCHEDULE MY 1st Session!', confirmation_url(resource, confirmation_token: token) %></p>


<p>Welcome to the Kindrdfood community! We’re looking forward to joining you at your table!</p>

<p>See you soon, </p>
<p>The Kindrdfood team</p>

