
<p>Eat Easier. Eat happier.</p> 

<p>Welcome <%=@resource.first_name%>!</p>

<p>You’ve been referred to Kindrdfood by QOL Medical, as a Sucraid customer. With this referral, you are entitled to receive 2 free sessions* (one-hour 1st session and half-hour follow up) with a specially matched KindRD Nutritionist, with expertise in CSID and many other conditions and dietary challenges. Kindrdfood accompanies this guidance with personalized recipes, meal plans and other supportive materials.</p>

<p>To learn more or schedule your 1st appointment, please click on this link:</p>
<p><%= link_to 'SCHEDULE MY 1st Session!', confirmation_url(@resource, confirmation_token: @token) %></p>


<p>Welcome to the Kindrdfood community! We’re looking forward to joining you at your table!</p>

<p>See you soon, </p>
<p>The Kindrdfood team</p>







<p>Kindrdfood does not provide medical advice, diagnosis of treatment.</p>
<p>Copyright © 2015 Kindrdfood Inc. All rights reserved. All materials on this site may not be reproduced, transmitted, cached or otherwise used, except with the prior written permission of Kindrdfood Inc.
</p>
