
<p>Eat Easier. Eat happier.</p> 

<p>Welcome <%=@resource.first_name%>!</p>

<p>You’ve been referred to Kindrdfood by QOL Medical, as a Sucraid customer. With this referral, you are entitled to receive 2 free sessions* (one-hour 1st session and half-hour follow up) with a specially matched KindRD Nutritionist, with expertise in CSID, among other conditions like IBS. Kindrdfood accompanies this guidance with personalized recipes, meal plans and other supportive materials.</p>

<p>To learn more or schedule your 1st appointment, please click on this link:</p>
<p><%= link_to 'SCHEDULE MY 1st Session!', confirmation_url(@resource, confirmation_token: @token) %></p>


<p>Welcome to the Kindrdfood community! We’re looking forward to joining you at your table!</p>

<p>See you soon, </p>
<p>The Kindrdfood team</p>







<p>*Two complimentary sessions with a Kindrdfood specialist are free of charge to the client, identified by name and email address as referred by QOL Medical. Sessions are non-transferable. The first session is 1 hour long at a maximum and not divisible. The second session is a 30 minute maximum follow up session and is not divisible. These two sessions are subject to the terms & conditions and all policies of Kindrdfood and expire on the later of July 1, 2016 or 6 months from the receipt of this email. 

Sucraid is prescribed by your physician. Kindrdfood does not make any recommendations to use or not use Sucraid. Kindrdfood Inc. and all staff of Kindrdfood Inc. offer guidance based on the needs of each client individually, including nutrition given a use of Sucraid if prescribed.
The information contained on this website and any links associated with it are not medical advice and should be viewed and utilized strictly as information only. Always consult with your healthcare provider before starting any new life style related program and stay in regular contact with your healthcare provider.
Copyright © 2015 Kindrdfood Inc. All rights reserved. All materials on this site may not be reproduced, transmitted, cached or otherwise used, except with the prior written permission of Kindrdfood Inc.
</p>
