
    <!-- <style> -->
    <table class="body" data-made-with-foundation="">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center data-parsed="">
            <style type="text/css" align="center" class="float-center">
              body,
              html,
              .body {
                background: #f3f3f3 !important;
              }
              
              .header {
                background: #f3f3f3;
              }
            </style>
            <table class="container float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row header">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h4 class="text-center">Email reset for <%= @resource.email %>!</h4> </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <center data-parsed=""> <%= image_tag("/assets/logos/logo-vertical.jpg", class: "float-center") %></center>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h1 class="text-center">Forgot Your Password?</h1>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center">It happens. Click the link below to reset your password.</p>
                                  <table class="button large expand">
                                    <tr>
                                      <td>
                                        <table>
                                          <tr>
                                            <td>
                                              <center data-parsed=""><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: "float-center" %></center>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                  <hr>
																	<p>If you didn't request this, please ignore this email.</p>
																	<p>Your password won't change until you access the link above and create a new one.</p>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
