<table class="table growth-entries-table">
		  <thead>
				    <tr>
				      <th>Date measured</th>
				      <th>Age</th>
				      <th>Height</th>
				      <th>Weight</th>
				      <%=binding.pry%>
				      <% if current_dietitian%>
				      	<th>Height %</th>
				      	<th>Height Z score</th>
				      	<th>Weight %</th>
				      	<th>Weight Z score</th>
				      	<th>BMI %</th>
				      	<th>BMI Z score</th>
				      	<th>Energy (calorie range)</th>
				      	<th>Protein (g/day)</th>
				      	<th>Fluids (oz)</th>
				      	<th>Note</th>
				      <% end %>

				      <th colspan="3"></th>
				    </tr>
				  </thead>
	<tbody>
			<% if growth_chart && growth_chart.growth_entries.length >= 1 %>
		    <% growth_chart.growth_entries.each do |growth_entry| %>
		      <%= render "/growth_entries/show_entry", growth_entry: growth_entry, growth_chart: growth_chart %>
		    <% end %>
	    <% else %>
	    	<tr>
	    		<td>No entries</td>
	    	</tr>
	    <% end %>
	 </tbody>
</table>