<%=link_to new_appointment_purchase_path(appointment.id), class: "btn btn-primary", :remote => true do %>
	<div class="col-xs-3">
		<p><span class="glyphicon glyphicon-exclamation-sign"></span></p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<p>CONFIRM</p>
		<p>APPOINTMENT</p>
	</div>
<% end %>