<%= link_to in_session_room_path(:id => appointment.room_id, appointment: appointment.id), class: "btn btn-primary" do %>
	<div class="col-xs-3">
		<p><span class="glyphicon glyphicon-heart"></span></p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<p>JOIN</p>
		<p>APPOINTMENT</p>
	</div>
<% end %>