<div class="row">
	<h2>YOUR NEXT SESSION IS:</h2>
</div>
<hr>
<div class="row">
	<h1><%= appointment.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p")%> </h1>
</div>