						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="row">
								<h1>SCHEDULE YOUR NEXT APPOINTMENT</h1>
							</div>
							<hr>
							<div class="row">
								<div class="col-xs-12 session-action">

									<!-- 		Make appointment button -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<%= link_to welcome_set_appointment_path do %>
											<button class="btn btn-primary">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
													<p>MAKE</p>
													<p>APPOINTMENT</p>
												</div>
											</button> 
										<% end %>
									</div>

									<!-- 		Purchase package button -->
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">
										<%= link_to packages_path, class: "btn btn-default " do %>
											<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<span class="glyphicon glyphicon-comment"></span>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<p>PURCHASE</p>
												<p>PACKAGE</p>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>