<h2>We look forward to meeting with you!</h2>
<p>Take a moment to prepare for your session</p>

<!-- 		Prep session button -->
<div class="col-xs-12 col-md-6 col-lg-offset-3 col-lg-6">
	<%= render "welcome/home/prep_session_button", upcoming_appointment: upcoming_appointment %>
</div>