<!-- 		Prep session button -->

	<%= link_to appointment_path(appointment), class: "btn btn-xs btn-primary" do %>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<span class="glyphicon glyphicon-edit"></span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<p>PREP FOR</p>
				<p>APPOINTMENT</p>
			</div>

	<% end %>

