<div class="col-xs-12 col-sm-8 col-sm-offset-2">

	<%= render "welcome/home/next_session_title", appointment: appointment %>

	<hr>
	<p>You may login 10 minutes <span class="glyphicon glyphicon-time"></span> before your appointment.</p>
	<div class="row">
		<div class="col-xs-12 session-action">

			<%= upcoming_appointment_section(appointment) %>

		</div>
	</div>
</div>
