.support-no-backgroundsize {
	#qol-page, #qol-sign-in-page {
		// navigation bar
		.navbar {
			// navigation logo
			.navbar-brand{
				img.img-responsive{
					width: 217px !important;
					height: 78px !important;
					display: block;
	    		max-width: 217px !important;
				}
			}
		}
		.qol-background-image{
		  min-height: 622px;
		  height: auto !important;
		  height: 622px;
		  -ms-behavior: url(/assets/stylesheets/partials/browser_specific/landing_pages/background-size.min.htc);
		}
	}
}