.ie-browser {
	#qol-page, #qol-sign-in-page {
		.navbar-brand{
			img.img-responsive{
				width: 217px !important;
				height: 78px !important;
				display: block;
	  		max-width: 217px !important;
			}
		}
		.left-column {
			margin: 0;
			padding: 0px;
		}
		.outside-form-container{
	  	behavior: url($pie-path);
	  	padding: 0px;
		}
	}
}
