.ie-browser {
	#qol-page, #qol-sign-in-page {
		.navbar-brand{
			img.img-responsive{
				width: 217px !important;
				height: 78px !important;
				display: block;
	  		max-width: 217px !important;
			}
		}
		.left-column {
			margin: 0;
			padding: 0px;
		}
		.outside-form-container{
	  	behavior: url($pie-path);
	  	padding: 0px;
		}
	}
}

// #ie-browser {
// 	#qol-page, #qol-sign-in-page {


// 		h2.heading {
// 			color: $brand-carrot-green;
// 		}
// 		p.details {
// 			font-size: 18px;
// 		}

// 		// General

// 		// row
// 		.row.landing-page-row {
// 			padding: 5%;
// 		}

// 		// hr
// 		hr.small-hr {
// 			width: 25%;
// 	    border: none;
// 	    height: 1px;
// 	    /* Set the hr color */
// 	    color: $gray-darker; /* old IE */
// 	    background-color: $gray-light; /* Modern Browsers */
// 	    margin-left: 0px;
// 		}

// 		// navigation bar
// 		.navbar {
// 			margin-bottom: 0px;
// 			min-height: 80px;

// 			// navigation list 
// 			ul.navbar-nav{
// 				margin: 10px;

// 				// last navigation list item is for LOGIN
// 				li:last-child a {
// 					color: $brand-light-orange;
// 				}
// 			}
// 			// navigation logo
// 			.navbar-brand{
// 				img.img-responsive{
// 					width: 217px !important;
// 					height: 78px !important;
// 					display: block;
// 	    		max-width: 217px !important;
// 				}
// 			}
// 		}
// 		.left-column {
// 			margin-top: 50px;
// 			h1 {
// 				font-size: 60px;
// 			}
// 			button{
// 			  margin-top: 25px;
// 			}
// 		}
// 		// light gray outter outline
// 		.outside-form-container{
// 		  background-color: transparentize($gray-darker, .8);
// 	  	border-radius: 15px;
// 	  	behavior: url($pie-path);
// 	  	padding: 20px;

// 	  	// dark gray inner outline
// 	  	> div {
// 			  background-color: transparentize($gray-darker, .5);
// 			  border-radius: 15px;
// 			  behavior: url($pie-path);
// 			  padding: 10px;
// 			  overflow: hidden;

// 			  // padding around text
// 		  	> p {
// 		  		padding: 0 50px;
// 		  	}
// 			}
// 		}
// 		.qol-background-image{
// 			background-image: url("food/veggies-landing.jpg");
// 			background-size: cover;
// 		  background-repeat: no-repeat;
// 		  position: relative;
// 		  min-height: 622px;
// 		  height: auto !important;
// 		  height: 622px;
// 		  -ms-behavior: url(/assets/stylesheets/partials/browser_specific/landing_pages/background-size.min.htc);
// 		  text-align: center;
// 		  color: $brand-white;
// 		  padding: 20px;
// 			h1, h2, h3, h4, h5, h6 {
// 				text-shadow: 2px 2px 4px $brand-black;
// 			}
// 			h3.tag-line{
// 				width: 75%;
// 			}
// 		}
// 		.faded-image{
// 		  background-image: url("landing_page/eating-pasta-1600x1200.jpg");
// 		  background-size: cover;
// 		  background-repeat: no-repeat;
// 		  min-height: 400px;
// 		  background-color: transparent;

// 	     // you need to match the shadow color to your background or image border for the desired effect
// 	    border-color: $brand-bg;
// 		  box-shadow: 0 10px 30px 20px $brand-bg inset;
// 		  behavior: url($pie-path);
// 		  background-position: right -30px bottom -15px;
// 		}

// 		.testimonial{
// 			background: $brand-light-orange;
// 			color: $brand-white;
// 		}

// 		.faded-image-2{
// 		  background-image: url("landing_page/momandchild.png");
// 		  background-size: cover;
// 		  background-repeat: no-repeat;
// 		  min-height: 400px;
// 		  background-color: transparent;

// 	     // you need to match the shadow color to your background or image border for the desired effect
// 	    border-color: $brand-bg;
// 		  box-shadow: 0 0 30px 20px $brand-bg inset;
// 		  behavior: url($pie-path);
// 		  background-position: right -30px bottom -15px;
// 		}

// 		.mobile{
// 				background-image: url("landing_page/cell_phone_in_hand.jpg");
// 			  background-size: cover;
// 			  background-repeat: no-repeat;
// 			  position: relative;
// 			  color: $brand-white;
// 			  background-position: right 0px bottom -200px;

// 			  // for xs small screen change position
// 			  @media screen and (max-width: $screen-xs-max){
// 			  	background-position: right 0px bottom 0px;
			  
// 			  }
// 		}

// 		.faded-image-3{
// 		  background-image: url("landing_page/child_eating_watermelon.jpg");
// 		  background-size: cover;
// 		  background-repeat: no-repeat;
// 		  min-height: 400px;
// 		  background-color: transparent;

// 	    /* you need to match the shadow color to your background or image border for the desired effect*/
// 	    border-color: $brand-bg;
// 	  	box-shadow: 0px 0px 20px 20px #f4f5f5 inset;
// 		  behavior: url($pie-path);
// 		  background-position: right 0px bottom 0px;
// 		}

// 		.faded-image-4{
// 		  background-image: url("landing_page/confused-kid.jpg");
// 		  background-size: cover;
// 		  background-repeat: no-repeat;
// 		  min-height: 400px;
// 		  background-color: transparent;

// 	    /* you need to match the shadow color to your background or image border for the desired effect*/
// 	    border-color: $brand-bg;
// 	  	box-shadow: 0px 0px 20px 20px #f4f5f5 inset;
// 	  	behavior: url($pie-path);
// 	  	background-position: right -80px bottom 0px;
// 		}

// 		.call-to-action-bar{
// 			background-color: $brand-light-green;
// 			color: $brand-white;
// 		}

// 		.qol-container{
// 			background-color: $brand-white;
// 			img{
// 				max-height: 300px;
// 			}
// 			span{
// 				font-size: 200px;
// 	  		color: $brand-light-orange;
// 			}
// 			.qol-update{
// 				margin-top: 5%;
// 			}
// 		}
// 	}
// }


