<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>Your Availability</h1>
  </div>
  <div class="col-xs-8" id="availability-cal">
  </div>
  <div id="calendar-key-container" class="col-xs-3">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <div id="new-event-example" class="calendar-key-example"> 
        </div>
      </div>
      <div class="col-xs-6 key-description">
        <p><b>New</b> available time slot, not saved</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <div id="saved-event-example" class="calendar-key-example">
        </div>
      </div>
      <div class="col-xs-6 key-description">
        <p><b>Saved</b> availability but not live</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <div id="live-event-example" class="calendar-key-example">
        </div>
      </div>
      <div class="col-xs-6 key-description">
        <p><b>Live</b> availability for clients</p>
      </div>
    </div>
    <div class="col-xs-12">
      <button id="save-schedule-button" class="btn btn-success btn-block">Save Schedule</button>
    </div>
  </div>
</div>