<div id="user-nav-layout" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="row">
  	<div class="col-xs-9">
    	<%= image_tag("nav_images/logo.png", id:"navbar-logo") %>
    </div>
    <div class="col-xs-3">
  		<%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete, style: "float: right" %>
  	</div>
  </div>

  <div id="kindrd-navbar" class="row">
  </div>
</div>


<%#= render "/layouts/alerts" %>
<div class="below_signed_in_user_nav">
	<%= yield %>
</div>