<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="row">
    <%= image_tag("nav_images/logo.png", id:"navbar-logo") %>
  </div>
  <div id="kindrd-navbar" class="row">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/recipes/dietitian_recipes_index/3">Your profile</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="navbar-dashboard" class="active"><%= link_to "Dashboard", welcome_path %></li>
          <li id="navbar-appointments" ><a  href="#about">Appointments</a></li>
          <li id="navbar-recipes"><%= link_to "Recipes", dietitian_recipes_path(current_dietitian)%></li>
          <li><%= link_to 'SIGN OUT', destroy_dietitian_session_path, :method => :delete %></li>
        </ul>
        <ul class="nav navbar-nav" id="navbar-help">
          <li ><a class="always-hover" href="#support" data-toggle="tooltip" data-placement="top" title="Support"><span class="large-image glyphicon glyphicon-question-sign"></span></a></li>
          <li id="feedback-button"><a class="always-hover" href="#feedback" data-toggle="tooltip" data-placement="top" title="Feedback"><span class="large-image glyphicon glyphicon-envelope"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>