
<!-- Modal -->
<div class="modal fade" id="nutritionIntroModal" tabindex="-1" role="dialog" aria-labelledby="nutritionIntroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="nutritionIntroModalLabel">Who eats are your table?</h4>
      </div>
      <div class="modal-body">
        <%#= render "users/registrations/sign_up_breadcrumbs/sign_up_breadcrumb" %>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 text-center">
						<h4 class="intro-paragraph">Your profile is important for matching you with the right Kindrd Nutritionist and with information that is safe, healthy and relevant. The details of this profile are private to you and your Kindrd Nutritionist (details of privacy policy are here).</h4> 
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>