
<!-- Modal -->
<div class="modal fade" id="nutritionIntroModal" tabindex="-1" role="dialog" aria-labelledby="nutritionIntroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="nutritionIntroModalLabel">Who eats are your table?</h4>
      </div>
      <div class="modal-body">
        <div class="container">
					<div class="row bs-wizard form-group" style="border-bottom:0;">

						<div class="col-xs-1 col-xs-offset-1 bs-wizard-step complete">
							<div class="text-center bs-wizard-stepnum">Step 1</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="#" class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">Nice to meet you</div>
						</div>

						<div class="col-xs-1 bs-wizard-step active"><!-- complete -->
							<div class="text-center bs-wizard-stepnum">Step 2</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="#" class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">Create your nutrition profile </div>
						</div>

						<div class="col-xs-1 bs-wizard-step disabled"><!-- complete -->
							<div class="text-center bs-wizard-stepnum">Step 3</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="#" class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">Schedule your appointment</div>
						</div>

						<div class="col-xs-1 bs-wizard-step disabled"><!-- active -->
							<div class="text-center bs-wizard-stepnum">Step 4</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="#" class="bs-wizard-dot"></a>
							<div class="bs-wizard-info text-center">Thank You!</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 text-center">
							<h4 class="intro-paragraph">Whether you are juggling multiple anaphylactic tummy's or a single picky eater, your team of KindRDNutritionists will empower you to make life easier, safer, and tastier.  Your nutritional needs are unique and that's why Kindrdfood matches every client with a KindRDNutritionist that specializes in your table's specific needs.  Add as many people as you'd like and remember this is just the beginning, we know there is a lot to learn about your family!</h4> 
						</div>
					</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>