$("form").replaceWith("<%= j render(:partial => 'new_user_registration_form') %>");

$("#sign-in-or-up-link").replaceWith("<li id='sign-in-or-up-link'><a data-remote='true' href='/users/sign_in'>LOGIN</a></li>");

Kindrdfood.landingPages.qolAdmin.validateSignUpForm();